---
extension: html
filter:
- erb
- markdown
layout: event_pitt
title: proposals
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

Questions about proposing a talk can be directed to
<%= render(:partial => "/#{@eventhome}/_email_proposals") %>.

### Full-length talks

This year, we are accepting all full-length (30-45 minute) proposals through our blinder system. 
Talk proposals are accepted until <%= render(:partial => "/#{@eventhome}/_cfp_date_end") %>.

##### [Submit a **talk** proposal](http://cfp.devopsdayspgh.org/DODPGH2015)

Big thanks to [Steel City Ruby](http://www.steelcityruby.org) for developing
[Blinder](https://github.com/jnf/blinder).
Our fork, when available, is [here](https://github.com/cmluciano/blinder/).

### Ignite talks

Ignite talks are five minute talks with twenty slides that automatically advance. [Read more about this exciting format.](http://www.devopsdays.org/pages/ignite-talks-format/)

Ignite talk proposals are not blinded. They are accepted until one week before the event.

<h5>
  <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>?subject=DoD%20PGH%20Ignite%20Proposal:%20XXXXXXXXX&amp;body=I%20propose%20the%20following%20Ignite%20talk%20for%20DevOpsDays%20Pittsburgh%202015%3A%0A%0AMy%20name%3A%20FirstnameLastname%0AIgnite%20talk%20title%3A%20MyTalkTitle%0A">Submit an **Ignite** proposal</a>
</h5>
