---
extension: html
filter:
  - erb
  - markdown
title: Location
dirty: true
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

### Conference location:
DevOps Days Toronto is being hosted at the The Burroughes Building near the corner of Queen and Bathurst. The event is taking place on the 6th floor, with access to the rooftop terrace.<br><br>
<b><a href="http://www.theburroughes.com/" target="_blank">The Burroughes</a>:</b> 639 Queen St West, Toronto, ON. M5V 2B7 - (416) 360-5757<br><br>
<img width="580px" src="location-burroughes.jpg" alt="The Burroughes - DevOps Days Toronto" />
<iframe width="580" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2887.0493299946243!2d-79.403452!3d43.647141999999995!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf2bfe4629a54cda5!2sBurroughes+Building!5e0!3m2!1sen!2s!4v1403281696210"></iframe><br /><small><a href="https://goo.gl/maps/luCZr" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<br><br>

### Public Transportation
The Burroughes Building is easily accessible by public transit. Visit the <a href="http://www.ttc.ca/Trip_planner/index.jsp" target="_blank">Toronto Transit Commission</a> (TTC)'s website for transit directions or use Google Maps as a starting point for finding transit information. Note, cash fare for one trip is $3.

### Planes, Trains and Automobiles
Toronto has two airports: Toronto Pearson International Airport and Porter Airlines. Check Expedia.ca for flight information.

Via Rail and GO Transit trains connect at Union Station, the main station for Toronto. Union Station connects with public transit.

The closest parking lot near The Burroughes Building is Green P's Carpark 106 at 15 Dension Avenue. Daytime rates (7am - 6pm) is $10.00 and night time rates (6pm - 7am) are $6.00.

### Accommodations
Toronto is a world class city with a multitude of accomodation options. Please visit <a href="http://www.tripadvisor.ca/Hotels-g155019-Toronto_Ontario-Hotels.html" target="_blank">TripAdvisor</a> to view available hotels while you attend DevOps Days Toronto.

### Tourism
Come to Toronto for DevOps Days, but check Tourism Toronto for more information on tourist packages and hotels. Sometimes a package deal can make travel less expensive and more fun. What is your interest: opera, ballet, live theatre, art gallery, museums, shopping, music, sports? 
