---
extension: html
filter:
- erb
- markdown
title: welcome
layout: event_istanbul
dirty: true
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<center>
  <a href="http://devopsdays.devopsturkey.org" target="_blank"><img border=0 width="256px" height="256px" src="logos/devopsdays-istanbul.png"><br>
  devopsdays.devopsturkey.org</a>
  <br><br>
  <a class="twitter-follow-button" href="https://twitter.com/devopsdaysist" data-size="large" data-show-count="false">Follow @devopsdaysist</a>
  <script type="text/javascript">!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</center>
<br><br>
<strong>DevOpsDays is coming to <%= render(:partial => "/#{@eventhome}/_target_location") %>! </strong>
<p>The team that brought you the monthly DevOps Turkey meetup is now
organizing the 1st DevOpsDays in Istanbul. With a finely curated list of
speakers and inspirational talks, June 3 - 4, 2016 will be the DevOps
event no one should miss.</p>
<strong>Date:</strong> <%= render(:partial => "/#{@eventhome}/_target_date") %>
<hr>
<center>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/u3zoZVi-Zfg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
</center>
<hr>
<ul>
  <li><a href="./location">Location</a></li>
  <li><a href="./propose">Propose a talk</a>!</li>
  <li><a href="./registration">Register</a>!</li>
  <!-- <li><a href="./program">View the program</a>!</li> -->

  <li><a href="./sponsor">Sponsor the event</a>! It's a great way to promote your organization.</li>
  <li><a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a></li>
</ul>
<hr>