---
extension: html
filter:
- erb
- markdown
title: Welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

# DevOpsDays Charlotte 2015

### DevOpsDays is coming to Charlotte!

DevOpsDays is at the forefront of shared knowledge, collaboration, culture and inclusion of developers, operations and anyone involved with technology. The conference will include a mix of presentations, ignite talks, ignite karaoke and open spaces covering a broad range of culture, devops and technical topics.
Your ticket includes breakfast, lunch, drinks and conference swag.

<hr>

### When: <%= render(:partial => "/#{@eventhome}/_target_date") %>
<br>
Contact us if you'd like to <a href="./sponsor">sponsor the event</a>! It's a great way to promote your organization.
<br>
If you are interested in joining the planning committee or have general questions, feel free to <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">email the organizers</a>.