---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

After a great success last year, devopsdays is now back in Austin!

- Date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Location: **<%= render(:partial => "/#{@eventhome}/_target_location") -%>**

[call for proposals](propose) is open and [registration](registration) will open 11 Jan 2013

If you want to be the first to know [subscribe to the devopsdays mailinglist](http://groups.google.com/group/devopsdays)
