---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event. If you are interested in sponsoring [drop us an e-mail](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=DevOpsDays Toronto - Sponsorship<%= @eventid %>).

<h4>Please click <a href="DevOpsDaysTorontoSponsorshipProspectus.pdf">here</a> to download the Sponsor prospectus for DevOpsDays Toronto 2014!</h4>

<hr>

DevOpsDays is a self-organizing conference for DevOps practitioners that depends on your sponsorship and participation to happen.
