---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>


<span>Data do evento: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**</span>
<span>e Local: **<%= render(:partial => "/#{@eventhome}/_target_location") -%>**</span>

<img src="rio-de-janeiro.jpg">
<small>http://www.flickr.com/photos/alcindo-filho/5410633087/sizes/m/in/photostream/</small>

<h3>Estão abertas as <a href="/events/2013-brazil/propose/">chamadas para palestras</a>. </h3>
