---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

The planning of the **<%= render(:partial => "/#{@eventhome}/_title") %>** event is currently in progress.

So far we have:

- Target date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Target location: **<%= render(:partial => "/#{@eventhome}/_target_location") -%>**

<img src="rio-de-janeiro.jpg">
<small>http://www.flickr.com/photos/alcindo-filho/5410633087/sizes/m/in/photostream/</small>

If you want to be the first to know when we open the [call for proposals](propose) and registration [subscribe to the devopsdays mailinglist](http://groups.google.com/group/devopsdays)
