---
extension: html
layout: event_msp
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
  <table><tr><td>
        <center>
        <img border=0 src="./river.jpg">
</td><td valign=top>
<strong>DevOpsDays is returning to Minneapolis! </strong>
<br><br>
Dates: Wednesday & Thursday July 8-9, 2015
<br><br>
Location: <a href="./location">downtown Minneapolis Hilton</a>
<br><br>

Program: <a href="./program">Check out the program</a> of 30-min talks & Ignites.
<br><br>

Sponsors: <a href="./sponsor">Sponsor the event</a>! It's a great way to promote your organization.
<br><br>

Registration: <a href="./registration">Register to attend the event!</a>
<br><br>

<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>
<br><br>
</td>
</tr>
</table>
</center>

<hr>
