---
extension: html
layout: event_msp
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
  <table><tr><td>
        <center>
        <img border=0 width="200" height="200" src="./devopsmsp-logo-2015.png">
</td><td valign=top>
<strong>DevOpsDays Minneapolis 2016 information is available at <a href="http://www.devopsdays.org/events/2016-minneapolis/">DevOpsDays Minneapolis</a> 2016! </strong>
<br><br>
DevOpsDays Minneapolis 2015 was Wednesday & Thursday July 8-9, 2015. It was held at the <a href="./location">downtown Minneapolis Hilton</a>.
<br><br>
You can view the DevOpsDays Minneapolis 2015  <a href="./program">program of 30-min talks & Ignites</a>.
<br><br>

<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>
<br><br>
</td>
</tr>
</table>
</center>

<hr>
