---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: sponsor
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event.  If you are interested in sponsoring [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<hr />

<table>
    <tr>
        <th><i>Packages</i></th>
        <td><b>Startup</b></td>
        <td><b>Silver</b></td>
        <td><b>Gold</b></td>
        <td><b>Platinum</b></td>
    </tr>
    <tr>
        <th><i>Conditions</i></th>
        <td>&lt; 3 years old<br />&lt; 10 people<br />&lt; 500k € turnover</td>
        <td>Unlimited</td>
        <td>Max: 5</td>
        <td>Max: 3</td>
    </tr>
    <tr>
        <th><i>Price</i></th>
        <td>750 €</td>
        <td>1500 €</td>
        <td>4000 €</td>
        <td>6000 €</td>
    </tr>
    <tr>
        <th>Free tickets</th>
        <td>2</td>
        <td>2</td>
        <td>4</td>
        <td>6</td>
    </tr>
    <tr>
        <th>Logo on website</th>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
    </tr>
    <tr>
        <th>Logo on programme</th>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
    </tr>
    <tr>
        <th>Poster in exhibition hall</th>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Swag on shared table</th>
        <td>&nbsp;</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
    </tr>
    <tr>
        <th>Logo in attendee emails</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
    </tr>
    <tr>
        <th><i>1 minute</i> Sponsor pitch w/ full audience</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td bgcolor="green">Yes</td>
        <td bgcolor="green">Yes</td>
    </tr>
    <tr>
        <th>Small table / booth w/ roll-ups</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td bgcolor="green">Yes</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <th>Large table / booth in prime placement</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td bgcolor="green">Yes</td>
    </tr>
    <tr>
        <th>Logo featured on stage</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td bgcolor="green">Yes</td>
    </tr>
</table>

<hr />

DevOpsDays is a self-organizing conference for DevOps practitioners that depends on your sponsorships to happen. However, because of the nature of the event, we do not have vendor booths or book product pitches.

Gold and Platinum sponsors do get a table they can hang out at and put materials on for interested people to come visit during breaks, and of course all attendees are welcome to propose any subject they want during the openspaces, but this is not 'that kind of conference' and heavy marketing will probably work against you when trying to make a good impression on the attendees. The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.

We also welcome alternative proposals for sponsoring outside the grid above - for example "I want to sponsor the lunch and be listed as a Gold sponsor for a roughly equivalent amount but I need to pay the caterer directly", etc. Please get in touch to discuss these options.
