---
extension: html
layout: event
title: welcome
filter:
- erb
- markdown
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
<img src="future-of-devops.jpg">
<hr>
<h3>Date: September 12th &amp; 13th - Location : Toronto</h3>
</center>

<hr>
<table width='100%'><tr>
  <td style="text-align: center">
      <a href="./registration">Register</a>
</td>
  <td style="text-align: center">
      <a href="./propose">Propose</a>
</td>
  <td style="text-align: center">
      <a href="./sponsor">Sponsor</a>
 </td></tr></table>
<hr>

TBD

<div class="span-15 first last">
<%= render(:partial => '/disqus_comments') %>
</div>
