---
extension: html
layout: event_html5
filter:
- erb
- markdown
title: 'Welcome !'
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>


## Unfortunately the event has been cancelled. 
For any information contact  organizers at <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>

If you have already made a booking you will be given a refund soon.
<!--
<div style="text-align:center;">
   <img alt="DevOpsDays Perth 2015" src="./logos/dodperth2015.png"/>
</div>

<table>

	  <tr>
		<td><b>Date</b></td>
		<td> <%= render(:partial => "/#{@eventhome}/_event_date_start") %> - <%= render(:partial => "/#{@eventhome}/_event_date_end") %></td>
	  </tr>
	  <tr>
		<td><b>Location</b></td>
		<td><a href="./location">Bankwest Place Murray Street</a></td>
	  </tr>
		<tr>
		  <td><b>Propose a talk</b>!</td>
		  <td><a href="./propose"> Propose</td>
		</tr>
		<tr>
			<td><b>Participants</b></td>
			<td><a href="./registration">Register to attend the event!</a></td>
		</tr>
		<tr>
			<td><b>Sponsor</b></td>
			<td><a href="./sponsor">Sponsor the event</a> ! It's a great way to promote your organization.</td>
		</tr>
		<tr>
			<td><b>Contact Us</b></td>
			<td><a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a></td>
					<br><br>
		</tr>
</table>
We hope to see you at the event.
--!>