---
extension: html
filter:
- erb
- markdown
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>

<table>
<tr><td><center><img border=0 width="450" height="106" src="./logos/oslo2.png"></td></tr>

<tr><td valign=top>

<br>

<h2>DevOpsDays is coming to <%= render(:partial => "/#{@eventhome}/_target_location") %>!</h2>

<p style="font-size:1.3em; font-weight: bold;">
From <%= render(:partial => "/#{@eventhome}/_event_date_start") %>
to <%= render(:partial => "/#{@eventhome}/_event_date_end") %>
</p>

<p>For the first time, DevOpsDays is coming to Oslo!</p>
<p><a href="http://www.gamlemuseet.no/english/">Gamle Museet / The Old Museum</a> will be hosting the event.</p>

<!-- <a href="./location">Location</a> -->
<!-- <a href="./registration">Register</a>! -->
<!-- <a href="./program">View the program</a>! -->
<!--
<h2>Sponsorships</h2>
<p><a href="./sponsor">Sponsor the event</a>! It's a great way to promote your organization.</p>
-->

<h2>Language</h2>
<p>All presentations will be held in <i>English</i></p>
<h2>Call for papers</h2>

<p><a href="./propose">Propose a talk</a>!</p>

<h2>For more information</h2>

<p><a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>
</p>

</td>
</tr>
</table>
</center>

<hr>
