---
extension: html
filter:
- erb
- markdown
title: welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
<p>
<img border=0 width="500" height="298" src="./devopsdaysseattle.png">
</p>
<p>
<strong>DevOpsDays is coming to <%= render(:partial => "/#{@eventhome}/_target_location") %>! </strong>
</p>
<table style="width:100%">
   <tr>
     <td height="90"> May 12th-13th 2016</td>
     <td height="90"> <a href="./location">Location</a> </td>
     <td height="90"> <a href="./propose">Propose a talk</a>! </td>
     <td height="90"> <a href="./registration">Register</a>!</td>
   </tr>
   <tr>
     <td height="90"> <a href="./program">View the program</a>!</td>
     <td height="90"> <a href="./sponsor">Sponsor the event</a>!</td>
     <td height="90"> <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>Email the organizers</a></td>
   </tr>
</table>
</center>

<hr>
