---
extension: html
filter:
- erb
- markdown
title: welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
  <table>
<tr>
	<td colspan=2>
<strong>DevOpsDays is coming to <%= render(:partial => "/#{@eventhome}/_target_location") %>! </strong>
<br><br>
<p>DevOpsDays Seattle brings development, operations, QA, InfoSec, management, and leadership together to discuss the culture and tools to make better organizations and products. With over 10% in technology job growth in the last two years, Seattle is considered by many to be the tech hub of America.</p>
<p>Our call for proposals has ended, and we will be announcing the program soon.</p>

	
	</td>
<tr>
<td>
        <center>
         <img border=0 width="250" height="149" src="./devopsdaysseattle.png"> 
</td><td valign=top>
Dates: <%= render(:partial => "/#{@eventhome}/_event_date_start") %> - <%= render(:partial => "/#{@eventhome}/_event_date_end") %>
<br><br>
<a href="./location">Location</a>
<br><br>

<a href="./registration">Register now!</a>!
<br><br>

<a href="./program">View the program</a>!
<br><br>

<a href="./sponsor">Sponsor the event</a>! It's a great way to promote your organization.
<br><br>

<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>
<br><br>
</td>
</tr>
</table>
</center>
<center>
<a href="https://twitter.com/DevOpsDaysSEA" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @DevOpsDaysSEA</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</center>
<br>
<hr>
