---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

![Ljubljana](/<%= @eventhome -%>/images/lj.jpg)

##<%= render(:partial => "/#{@eventhome}/_target_date") -%>

This year brings a nice surprise to the Slovene community, with a DevopsDays happening in right here in Ljubljana!

**Early bird ends 28th of February, [register now!](registration)** 

Got your ticket? Good! Help spread the word and we'll see you in April.

Check out [the location page](location) for more details on location and accomodation.
