---
extension: html
filter:
- erb
- markdown
title: program
dirty: true
layout: event
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

## CFP is underway

[Call for proposals is open until 27 February!](/<%= @eventhome %>/propose)  The program below will be filled out once the CFP has closed and the talks have been chosen.

## Language

All of the presentations will be held in *English*.  Open spaces are participant-lead, and as such, occur in whatever language the particular group is comfortable with.  For more information about open spaces, <a href="/pages/open-space-format">click here!</a>

<hr />

<div class="span-7 append-bottom border">
<div class="span-7 last">
<h4>Day 1 </h4>
</div>
<div class="span-2">09:00-10:00</div>
<div class="span-4 last">Registration</div>
<div class="span-2">10:00-10:10</div>
<div class="span-4 append-bottom last">Introduction</div>
<div class="span-2">10:10-10:40</div>
<div class="span-4 box last">
  "Parlez-vous DevOps ?" <br /> keynote by <em>John Willis</em>
</div>
<div class="span-2">10:45-11:15</div>
<div class="span-4 box last">
  Presentation #2
</div>
<div class="span-2">11:15-11:30</div>
<div class="span-4 append-bottom last">break</div>
<div class="span-2">11:30-12:00</div>
<div class="span-4 box last">
  Presentation #3
</div>
<div class="span-2">12:00-12:30</div >
  <div class="span-4 box last">
    Presentation #4
  </div>

<div class="span-2">12:30-13:00</div>
<div class="span-4 append-bottom box last">
  Presentation #5
</div>

<div class="span-2">13:00-14:30</div>
<div class="span-4 append-bottom last">Lunch</div>
<div class="span-2">14:30-16:00</div>
<div class="span-4 append-bottom box last"><strong>Opening Open Space</strong></div>
<div class="span-2">16:00-16:30</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot1</strong></div>
<div class="span-2">16:30-17:00</div>
<div class="span-4 append-bottom last">Break</div>
<div class="span-2">17:00-17:45</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot2</strong></div>
<div class="span-2">17:45-18:30</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 3</strong></div>
<div class="span-2">18:30-20:00</div>
<div class="span-4 append-bottom box last"><strong>time for you to get some food, check in the hotel ...</strong></div>
<div class="span-2">20:00-...</div>
<div class="span-4 append-bottom box last"><strong>Evening event:</strong>
Details soon ...</div>
</div>
<div class="span-7 append-bottom last">
<div class="span-7 last">
<h4>Day2</h4>
</div>
<div class="span-2">09:30-10:00</div>
<div class="span-4 last">Registration</div>
<div class="span-2">10:00-10:15</div>
<div class="span-4 append-bottom last">Kickoff Day 2</div>
<div class="span-2">10:15-10:45</div>
<div class="span-4 box last">
  Presentation #6
</div>
<div class="span-2">10:45-11:15</div>
<div class="span-4 box last">
  Presentation #7
</div>
<div class="span-2">11:15-11:30</div>
<div class="span-4 append-bottom last">break</div>
<div class="span-2">11:30-12:00</div>
<div class="span-4 box last">
  Presentation #8
</div>
<div class="span-2">12:00-12:30</div>
<div class="span-4 box last">
  Presentation #9
</div>
<div class="span-2">12:30-13:00</div>
<div class="span-4 box last">
  Presentation #10
</div>
<div class="span-2">13:00-14:30</div>
<div class="span-4 append-bottom last">Lunch</div>
<div class="span-2">14:30-15:00</div> <div class="span-4 append-bottom box last"><strong>Ignites</strong><br></div>
<div class="span-2">15:00-15:30</div>
<div class="span-4 append-bottom box last"><strong>Re-Opening Open Space</strong></div>
<div class="span-2">15:30-16:15</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot4</strong></div>
<div class="span-2">16:15-17:00</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot5</strong></div>
<div class="span-2">17:00-17:45</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot6</strong></div>
<div class="span-2">17:45-18:00</div>
<div class="span-4 append-bottom last">Closing</div>
</div>
