---
extension: html
filter:
- erb
- markdown
title: Program
dirty: true
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
<h3>This is the premilary schedule.</h3>
</center>
<hr>
<div class="span-16 last ">
If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.<br>
Have a comment on the program? <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?Program comment">Let us know.</a><br>
</div>
<hr/>

<div class="span-7 append-bottom border">
  <div class="span-7 last">
    <h4>Day 1 </h4>
  </div>
  <div class="span-6 last">&nbsp;</div>
  <div class="span-6 last">&nbsp;</div>
  <div class="span-6 last">&nbsp;</div>
  <div class="span-6 last">&nbsp;</div>
  <div class="span-2">09:00-10:00</div>
  <div class="span-4 last">Registration and Breakfast</div>
  <div class="span-2">10:00-10:15</div>
  <div class="span-4 append-bottom last">Introduction</div>
  <div class="span-2">10:15-10:45</div>
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/Dawn Foster - What we can learn about DevOps from Science Fiction/">Dawn Foster - What we can learn about DevOps from Science Fiction</a>
  </div>
  <div class="span-2">10:45-11:15</div>
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/Rafael Kolless - Running Near Zero Downtime Build Landscapes in the Cloud for DevOps/">Rafael Kolless - Running Near Zero Downtime Build</a>
  </div>
  <div class="span-2">11:15-11:30</div>
  <div class="span-4 append-bottom last">break</div>
  <div class="span-2">11:30-12:00</div >
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/Ben Hughes - ein security bitte/">Ben Hughes - ein security bitte?</a>
  </div>
  <div class="span-2">12:00-12:30</div >
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/Damien Caro - What DevOps means for the sysadmin/">Damien Caro - What DevOps means for the sysadmin?</a>
  </div>
  <div class="span-2">12:30-13:00</div> <div class="span-4 append-bottom box last"><strong>Ignites Part 1</strong><br/>
    <ul>
      <li><a href="http://www.devopsdays.org/events/2014-berlin/proposals/Arkadiusz Dziewonski - Test Driven Development in Bash/">Arkadiusz Dziewonski - Test Driven Development in Bash</a>
      <li><a href="http://www.devopsdays.org/events/2014-berlin/proposals/Benjamin Reitzammer - Sane Secrets Sharing/">Benjamin Reitzammer - Sane Secrets Sharing</a>
      <li><a href="http://www.devopsdays.org/events/2014-berlin/proposals/Thomas Falkenberg - Monitors at PAYBACK/">Thomas Falkenberg - Monitors at PAYBACK</a>
      <li><a href="http://www.devopsdays.org/events/2014-berlin/proposals/Romain Pelisse - Learn Puppet in 5min/">Romain Pelisse - Learn Puppet in 5min</a>
    </ul>
  </div>
  <div class="span-2">13:00-14:30</div>
  <div class="span-4 append-bottom last">Lunch</div>
  <div class="span-2">14:30-16:00</div>
  <div class="span-4 append-bottom box last"><strong>Opening Open Space</strong></div>
  <div class="span-2">16:00-16:30</div>
  <div class="span-4 append-bottom box last"><strong>Open Space Slot 1</strong></div>
  <div class="span-2">16:30-17:00</div>
  <div class="span-4 append-bottom last">Break</div>
  <div class="span-2">17:00-17:45</div>
  <div class="span-4 append-bottom box last"><strong>Open Space Slot 2</strong></div>
  <div class="span-2">17:45-18:30</div>
  <div class="span-4 append-bottom box last"><strong>Open Space Slot 3</strong></div>
  <div class="span-2">18:30-19:30</div>
  <div class="span-4 append-bottom box last"><strong>Free time</strong></div>
  <div class="span-2">19:30-23:00</div>
  <div class="span-4 append-bottom box last"><strong>Get-together at the <a href="http://www.computerspielemuseum.de/1210_Home.htm">Computerspielemuseum</a></strong><br/>(Bus shuttle will be provided)</div>
</div>
<div class="span-7 append-bottom last">
  <div class="span-7 last">
    <h4>Day 2</h4>
  </div>
  <div class="span-2">08:00-09:00</div>
  <div class="span-4 box last"><a href="#run">Sightseeing 5K run</a></div>
  <div class="span-2">09:00-09:30</div>
  <div class="span-4 last">Registration and Breakfast</div>
  <div class="span-2">10:00-10:15</div>
  <div class="span-4 append-bottom last">Kickoff Day 2</div>
  <div class="span-2">10:15-10:45</div>
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/Alexander Schwartz - Devops = Effectiveness First/">Alexander Schwartz - Devops = Effectiveness First!</a>
  </div>
  <div class="span-2">10:45-11:15</div>
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/James Fryman - DevOps Day 2: People and Process/">James Fryman - DevOps Day 2: People and Process</a>
  </div>
  <div class="span-2">11:15-11:30</div>
  <div class="span-4 append-bottom last">break</div>
  <div class="span-2">11:30-12:00</div>
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/Felix Hupfeld - Decouple if you cant automate/">Felix Hupfeld - Decouple if you can't automate</a>
  </div>
  <div class="span-2">12:00-12:30</div>
  <div class="span-4 box last">
    <a href="http://www.devopsdays.org/events/2014-berlin/proposals/Simon Eskildsen - Docker at Shopify/">Simon Eskildsen - Docker at Shopify</a></br></br>
  </div>
  <div class="span-2">12:30-13:00</div> <div class="span-4 append-bottom box last"><strong>Ignites Part 2</strong><br>
    <ul>
      <li><a href="http://www.devopsdays.org/events/2014-berlin/proposals/Martin Klewitz - Make Love not War - let's have a DevOps Baby/">Martin Klewitz - Make Love not War - let's have a DevOps Baby</a>
      <li><a href="http://www.devopsdays.org/events/2014-berlin/proposals/Bernd Erk - Icinga2 - Redesigning Monitoring/">Bernd Erk - Icinga2 - Redesigning Monitoring</a>
      <li><a href="http://www.devopsdays.org/events/2014-berlin/proposals/Andi Mann - 5 Minutes for 10 DevOps Tools/">Andi Mann - 5 Minutes for 10 DevOps Tools</a>
    </ul>
    </br></br></br>
  </div>

<div class="span-2">13:00-14:00</div>
<div class="span-4 append-bottom last">Lunch</div>
<div class="span-2">14:00-14:30</div>
<div class="span-4 append-bottom box last"><strong>Re-Opening Open Space</strong></div>
<div class="span-2">14:30-15:15</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 4</strong></div>
<div class="span-2">15:15-16:00</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 5</strong></div>
<div class="span-2">16:00-16:45</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 6</strong></div>
<div class="span-2">16:45-17:00</div>
<div class="span-4 append-bottom last">Closing</div>
</div>
<hr/>
<div class="span-16 last">
  <a id="run"></a> We will enjoy a scenic run in Berlin, passing among
  other Brandenburg Gate, Berlins biggest park (Tiergarten), catch a
  glimpse of the Siegess&auml;ule, then head north towards the
  Reichstag and enjoy running past the river Spree. Tour starts and
  ends at our venue,
  Kalkscheune. <a href="http://www.runmap.net/en/route/2718868-devopsdays-berlin-running-route/">See
  the planed tour</a>. If you are interested, please get in touch
  with <a href="mailto:leonard.ehrenfried@gmail.com">Leonard</a>.
  <br/><br/>
</div>
