---
extension: html
filter:
- erb
- markdown
title: OpenSpaces
layout: event_openspace
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<h2>Contents</h2>
<ul>
  <li><a href="#map">Venue Map</a></li>
  <li><a href="#day-one">Day One OpenSpaces</a></li>
  <li><a href="#day-two">Day Two OpenSpaces</a></li>
</ul>

<hr />

<h2 id="map">Venue Map</h2>
<h4>TBA</h4>
<a href="/<%= @eventhome %>/img/venue-map.png">
  <img src="/<%= @eventhome %>/img/venue-map.png" title="Venue Map" width="100%" />
</a>

<hr />

<!-- use &Oslash; for empty sessions -->
<h2 id="day-one">Day One OpenSpaces</h2>
<table class="responsive">
  <tr>
    <th>Time Slot</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
  </tr>
  <tr>
    <td>14:20-15:05</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
  </tr>
  <tr>
    <td>15:20-16:05</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
  </tr>
  <tr>
    <td>16:20-17:05</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
  </tr>
</table>

<hr />

<h2 id="day-two">Day Two OpenSpaces</h2>
<table class="responsive">
  <tr>
    <th>Time Slot</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
    <th>Room Name</th>
  </tr>
  <tr>
    <td>14:20-15:05</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
  </tr>
  <tr>
    <td>15:20-16:05</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
  </tr>
  <tr>
    <td>16:20-17:05</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
    <td>&Oslash;</td>
  </tr>
</table>
