---
extension: html
filter:
- erb
- markdown
title: contact
dirty: true
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %> 
<% @eventid = File.basename(@page.directory) %>

<center>
  <img src="connect.jpg"><hr>
  <h3>If you'd like to contact us by email: <br><a href='mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>'><%= render(:partial => "/#{@eventhome}/_email_organizers") %></a></h3>
</center>
<hr>
** The local devopsdays organizer group**
- Niek Bartholomeus
- Kris Buytaert
- Patrick Debois
- Ringo De Smet
- Rudy Gevaert
- Yves Hanoulle
- Hannes Van De Vreken

** The core devopsdays organizer group**

<%= render(:partial => "/#{@eventhome}/_team_global") %>
