---
extension: html
filter:
- erb
- markdown
title: Welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<div style="text-align: center">
    <table>
        <tr>
            <td>
                <h3>Coming Soon: DevOpsDays Ohio 2015</h3>
                <img src="dod_ohio.png" alt="" style="display: block; margin: 0 auto;"/>
            </td>
        </tr>
        <tr>
            <td valign=top>
                <strong>Dates:</strong> November 18th &amp; 19th
                <br/><br/>
                <strong>Where:</strong> <a href="./location">The Bluestone, Columbus, Ohio</a>
                <br/><br/>
                In the meantime, please contact us if you'd like to <a href="./sponsor">sponsor the event</a>! It's a
                great way to promote your organization.
                <br/><br/>
                If you are interested in joining the planning committee or have general questions, feel free to
                <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">email the organizers</a>.
                <br/><br/>
            </td>
        </tr>
    </table>
</div>
<hr>
