---
extension: html
layout: event_tlv
filter:
- erb
- markdown
title: welcome
dirty: true
---

<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center><img border=0 src="logos/dod-tlv.png"></center></br>

## Agenda Is Now Live! 

Please check the <a href="/events/2014-telaviv/program/">program page</a>. 

- Date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Location: Na Laga'at Center, Retsif ha-Aliya ha-Shniya St., Jaffa

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3381.598496014634!2d34.75042100000001!3d32.05305750000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4cc7a128b7cf%3A0x68f7aaf4fc9cf701!2z157XqNeb15YgIteg15Ag15zXktei16oi!5e0!3m2!1sen!2s!4v1412602596112" width="400" height="300" frameborder="0" style="border:0"></iframe>

</br>
</br>

### Call for papers Is Now Closed

Thank you for <a href="/events/2014-telaviv/proposals/"> all your fantastic submissions</a>. Looking forward to seeing y'all at the event. Don't forget to <a href="/events/2014-telaviv/registration/">register</a>! 
