---
extension: html
layout: event_tlv
filter:
- erb
- markdown
title: welcome
dirty: true
---

<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center><img border=0 src="logos/dod-tlv.png"></center></br>

- Date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Location: HP Software Campus, 19 Shabazi St. Yehud 

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3382.491694210793!2d34.89706621771976!3d32.02888001760703!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d3505b0811245%3A0x8c8d9fa08b190ba!2sShabazi+St+19%2C+Yehud%2C+Israel!5e0!3m2!1sen!2s!4v1407681915841" width="400" height="300" frameborder="0" style="border:0"></iframe>

</br>
</br>

### [Call for papers](propose) is now open. Your proposals are most welcome! 

The agenda will be finalized by September 1st 2014. Even if you didn't propose, please consider [commenting on proposals submitted by others](/events/2014-telaviv/proposals/)
