---
extension: html
layout: event_tlv
filter:
- erb
- markdown
title: welcome
dirty: true
---

<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center><img border=0 src="logos/dod-tlv.png"></center></br>

- Date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Location: [Google Campus TLV](http://www.campustelaviv.com)

### Registration is now open, register [here!](/events/2013-telaviv/registration/)</h3>

### [Call for papers](propose) is now closed. Thanks for [all your great submissions](/events/2013-telaviv/proposals/).

The agenda will be finalized by August 20. Even if you didn't propose, please consider [commenting on proposals submitted by others](/events/2013-telaviv/proposals/)
