---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

The planning of the **<%= render(:partial => "/#{@eventhome}/_title") %>** event is currently in progress.

So far we have:

- Target date: **<%= render(:partial => "/#{@eventhome}/_event_date") -%>**
- location: **<%= render(:partial => "/#{@eventhome}/_event_location") -%>**
- [Sponsorship Package](sponsor) announced! ** limited packages left **
- [Call For Proposal](propose) is now ** Closed! ** as of **<%= render(:partial => "/#{@eventhome}/_cfp_date_end") -%>**
- **[Read/comment Proposals](proposals)** sent to us till now [here](proposals).
- **[Few Seats](registration)** are left for Registration of event. **[Hurry!](registration) [Register Here.](registration)**

***

Are you interested in helping out? Have ideas or suggestions? [Send an email to the organizers](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>).

To stay updated on everything around devopsdays [subscribe to the devopsdays mailinglist](http://groups.google.com/group/devopsdays).

***
