---
extension: html
layout: event_pitt
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

# devopsdays Pittsburgh n'at!

was <%= render(:partial => "/#{@eventhome}/_target_date") %> at [University of Pittsburgh](location).

## 2015 was a great success!

We were proud to put on [this program](program).

Videos of all of the [devopsdays Pittsburgh 2015 talks](https://www.youtube.com/playlist?list=PL24j9Af3FWbRFIXcOmxVYUpRN_rYwXQQa),
including ignites, are available on the [devopsdays Pittsburgh YouTube channel](https://www.youtube.com/c/devopsdaysPittsburgh).
The audio from these talks is on the [devopsdays Podcast](https://itunes.apple.com/us/podcast/devops-days-podcast/id1035163116).

Too cool for moving pictures? We've got our still pictures shared [here](https://goo.gl/photos/xCVsbyW2AK4vZhT77).

You can check out more on [devopdays Pittsburgh on Lanyrd](http://lanyrd.com/2015/devopsdays-pittsburgh/).

<hr>

### Nice things people said about devopsdays Pittsburgh 2015 a.k.a. [#dodpgh15](https://twitter.com/search?q=%23dodpgh15&src=typd)

> "Open Spaces are the best idea I've never see anywhere else. Keep doing what you're doing. This was awesome and I can't wait for next year!" - *Anonymous*

> "Right number of talks, right length of talks, ignite talks on both days, good environment, food, etc. Organizers were very friendly and approachable. I personally felt a real sense of community." - J.D.

<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Great job organizers and participants. <br>Lots of great talks and open space discussions! <a href="https://twitter.com/hashtag/DevopsDays?src=hash">#DevopsDays</a> <a href="https://twitter.com/hashtag/dodpgh15?src=hash">#dodpgh15</a> <a href="https://t.co/MEijGny5oR">https://t.co/MEijGny5oR</a></p>&mdash; .json (@jasonhand) <a href="https://twitter.com/jasonhand/status/632307566064848896">August 14, 2015</a></blockquote>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Conference complete! Thanks to all the attendees of <a href="https://twitter.com/hashtag/dodpgh15?src=hash">#dodpgh15</a> for helping to craft such a great event! <a href="https://twitter.com/devopsdayspgh">@devopsdayspgh</a></p>&mdash; Tim Parenti (@timparenti) <a href="https://twitter.com/timparenti/status/632311507553021952">August 14, 2015</a></blockquote>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Thank you for a wonderful 2015 conference <a href="https://twitter.com/devopsdayspgh">@devopsdayspgh</a> <a href="https://twitter.com/hashtag/dodpgh2015?src=hash">#dodpgh2015</a> <a href="https://twitter.com/hashtag/devopsdays?src=hash">#devopsdays</a></p>&mdash; Nicholas Kiraly (@NicholasKiraly) <a href="https://twitter.com/NicholasKiraly/status/632305255489896452">August 14, 2015</a></blockquote>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Great 2 days at Devops Days Pittsburgh.</p>&mdash; Mike Nescot (@mnescot) <a href="https://twitter.com/mnescot/status/632265595942248448">August 14, 2015</a></blockquote>

##### Regarding our novel "no provided WiFi" policy

> "I think it's great that you take this stance on wifi. I think it keeps more attendees focused and talking to one another. Keep up the good work." - *Anonymous*

> "I actually liked the fact that i was forced to stay offline. It kept me from continuously checking in on work and allowed me to participate more." - *Anonymous*

> "I like being able to disconnect and pay attention." - J.L.

> "Lack of abundant internet access forced us to actually communicate in meat-space and IMO resulted in a better overall conference. If internet access was 100% required it was available but the barrier of inconvenience forced us to only use it when necessary. Most of us have LTE anyway so meh." - J.D.

> "It was great not having Wi-Fi.  I never opened my laptop once, and I actually spoke to people in real life.  More conferences should do this." - P.G.

### Nice things people have said about devopsdays Pittsburgh prior to 2015

> <img src="https://s.gravatar.com/avatar/1ed0b822068d34032bca7d2beeb2f846?s=64" style="float: left;margin-right: 1em;"/>"I had a lot of fun at DevOps Days Pittsburgh in 2014. I met dozens of passionate, experienced people interested in changing the culture of development an operations. I even hired two of them!" - [Casey West](https://www.twitter.com/caseywest)

<br/>

> <img src="https://s.gravatar.com/avatar/bc89235852217d36f7708ce233041b17?s=64" style="float: right;margin-left: 1em;"/>"Devopsdays Pittsburgh 2014, on paper, shouldn't have worked. The stew of people from different backgrounds -- sysadmins, front-end and back-end developers, database administrator, project manager, QA engineer, consultants -- how could these people all get along? But we did, we really really did. The talks were honest and direct, and the open spaces harnessed the chaos of disparate backgrounds into memorable discussions that still resonate over a year later. Recommended if you have anything to do with making or using software." - [Chris Winters](https://www.twitter.com/cwinters)

Jake Champlin shares his formative experience at devopsdays Pittsburgh 2014:

<iframe width="420" height="315" src="https://www.youtube-nocookie.com/embed/lHgXehylhOk" frameborder="0" allowfullscreen></iframe>

Casey West and Marylou Lenhart have a short conversation about their experience at devopsdays Pittsburgh 2014:

<iframe width="420" height="315" src="https://www.youtube-nocookie.com/embed/O8j1xueA7Cw" frameborder="0" allowfullscreen></iframe>

<img border=0 width="500px" height="500px" src="warholdevops.png"><br>

We have a [code of conduct](conduct).

<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
