---
extension: html
filter:
- erb
- markdown
title: location
layout: event_html5
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

# The Venue

Raffles City Convention Centre<br>
Fairmont Singapore & Swissôtel The Stamford<br>
80 Bras Basah Road | Singapore 189560 | Singapore<br>
MRT station: [City Hall](http://www.smrt.com.sg/Trains/NetworkMap/CityHall) Exit A.
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.801093058493!2d103.8529555!3d1.2938361999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf32fa2fffc1d7b8c!2sSwiss%C3%B4tel+The+Stamford!5e0!3m2!1sen!2s!4v1435671460170" width="550" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

## Floorplan

You can find the floor plan [here](https://docs.google.com/drawings/d/1gGrTN0na--0EHj-rBHHOYKf52hpavoNiFMvGqyjl3rw/edit?usp=sharing).

### Atrium Balroom

<img src="venue_atrium_balroom_full.jpg" alt="Atrium Balroom" width="550">

### Atrium Foyer

<img src="venue_atrium_foyer.jpg" alt="Atrium Foyer" width="550">

<a name="how-to-get-to-singapore"></a>
# HOW TO GET TO SINGAPORE?

## BY CAR

If you come [by car](http://wikitravel.org/en/Singapore#By_road) we assume that you know the area well enough to find Singapore :)
Please have a closer look to [the location map](location/#map) to find it.
We have a carpark coupon chargeable at 25 SGD + 7% GST for full-day parking.

## BY PLANE

From the airport there are a number of ways to get into the city:

* The [Ground Transport Desk](http://www.changiairport.com/getting-around/to-and-from-airport/ground-transport-desk), is a 24-hour counter located in the Arrival Hall of each terminal. It offers flat fee transport options to any destination in Singapore, which is a pretty good deal especially when the taxi queue is long or after midnight(beat the queue, skip the surcharge). Simply visit the Ground Transport Desk located at the arrival hall of each terminal to book. Options include:
  + **Airport Shuttle**: Shuttle service will bring you directly to the doorstep of designated downtown hotels. Available 24/7, this is a convenient and affordable option (Adult $9 l Children $6). Departs every 15-30min.
  + **4-seater or 7-seater vehicle**: a 4-seater is $55, and 7-seater is $60 per trip to any destination in Singapore.
  + **Limousines**: charge a flat $50 to any destination in Singapore.
* **Taxi** is easy - simply follow the signs after clearing customs. Meters are always used in Singapore and prices are reasonable. A trip to the city during the day will be between $20-30 including $3-5 airport surcharge. An additional 50% surcharge applies between midnight and 06:00.
* **Subway** - MRT trains run from a station between T2 and T3, but you'll need to change trains at Tanah Merah to a city-bound train: just exit through the left hand side door and cross the platform. The 30min ride to City Hall station costs $1.90 plus a refundable $1 deposit, and trains run 05:31-23:18. Trains from Tanah Merah to the city tend to be very crowded during peak hours, and it is unlikely to have seats.
* **Bus** - Bus terminals can be found in the basements of T1, T2 and T3. 06:00-23:59 only. Fares are less than $2.00, exact fare required (no change given) if you pay cash.

## BY TRAIN
See [http://wikitravel.org/en/Singapore#By_train](http://wikitravel.org/en/Singapore#By_train) for details.

## BY BUS
See [http://wikitravel.org/en/Singapore#By_bus](http://wikitravel.org/en/Singapore#By_bus) for details.

<a name="public-transport"></a>
# PUBLIC TRANSPORT IN SINGAPORE

## [MRT](https://en.wikipedia.org/wiki/Mass_Rapid_Transit_%28Singapore%29)

Go to MRT Station _[City Hall](http://www.smrt.com.sg/Trains/NetworkMap/CityHall)_ and use _Exit A_. Follow the signs to the hotel.

<a href="http://www.smrt.com.sg/Trains/NetworkMap/CityHall"><img src="NS25_City Hall.png" alt="MRT City Hall Exists" width="550"></a>
<a href="https://en.wikipedia.org/wiki/Mass_Rapid_Transit_%28Singapore%29"><img src="singapore-mrt_map.png" alt="MRT Map" width="550"></a>

## TAXIS

These local taxi companies are commonly available:

* Comfort Taxi/CityCab: 6552 1111
* SMRT Taxis: 6555 8888
* TransCab: 6555 3333
* Premier Taxis: 6363 6888

## Mobile Applications:

* <a href="http://grabtaxi.com/singapore/">Grab Taxi</a>
* Street Directory/Singapore Maps
* bus@sg


<a name="singapore-essentials"></a>
# SINGAPORE ESSENTIALS

## EMERGENCY NUMBERS

* Email address for organizers: <a href='mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>'><%= render(:partial => "/#{@eventhome}/_email_organizers") %></a>
* Phone number for organizers: TBA
* Singapore Emergency Contact list: http://www.e101.gov.sg/learn_contacts.html
* Local law enforcement: Singapore Police Force - call 999
* Sexual assault hotline: 1800 774 5935
* Medical Emergency: Call 995

## CURRENCY

The currency in Singapore is the Singapore Dollar (SGD)

<img src="singapore-currency.jpg" alt="Singapore Currency"/>

<a name="accommodation"></a>
# Accommodation

We are currently preparing a list of recommended hotels.

For a good overview see [https://pycon.sg/venue/](https://pycon.sg/venue/).

## Budget / Hostels

* [http://www.lonelyplanet.com](http://www.lonelyplanet.com)
* [http://www.hostelworld.com](http://www.hostelworld.com)
* [http://www.hostelbookers.com](http://www.hostelbookers.com)

## Mid-range

TBA

## Top-class

- [http://www.fairmont.com/reservations/select-room/](http://www.fairmont.com/reservations/select-room/) (The venue hotel)

<a name="restaurants"></a>
# Restaurants

Other than sitting in a restaurant we’d recommend to visit one of the many hawker centers.
There you get plenty of food for a reasonable price in a unique atmosphere.

If you really fancy a Restaurant, [Tripadvisor has recommendations](http://www.tripadvisor.com.sg/Restaurants-g294265-Singapore.html).

<a name="sightseeing"></a>
# Sightseeing Sites

[This movie](https://www.youtube.com/watch?v=P_q3BdrFsLI) on YouTube got a smooth introduction for you.

# More Information

Please always reach out to us if you have any questions or concerns!

We keep our official website [http://www.devopsdays.org/events/2015-singapore/](http://www.devopsdays.org/events/2015-singapore/) up-to-date for latest updates and infos.

We wish you a pleasant time in Singapore! Enjoy every bite!
