---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

Valorizamos muito patrocinadores para este evento. Se você está interessado em patrocinar [mande nos um email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<hr>

<div style="width:500px">
<table border=1>
<tr><th><i>Packages</i></th><th><center><b><u>Silver</u></center></b></th><th><center><b><u>Gold</u></b></center></th></tr>
  <tr><td></td><td>
      <! // Silver paypal button here ->
</td><td>
      <! // Gold paypal button here ->
</td></tr>

<tr><td>Logo on website</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Logo on all email communications</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Ability to demo product (5min max) during Openspace Demo Session</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>2 free sponsor tickets</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>

<tr><td>Opportunity to do a one minute pitch to the full audience</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Additional 2 passes (4 in total)</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Sponsor presence and Booth Space (simple table, no full blown commercial booth:) at event</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>

</table>
</div>

DevOpsDays is a self-organizing conference for DevOps practitioners that depends on your sponsorships to happen. However, because of the nature of the event, we do not have vendor booths or book product pitches.

Gold sponsors do get a table they can hang out at and put materials on for interested people to come visit during breaks, and of course all attendees are welcome to propose any subject they want during the openspaces, but this is not 'that kind of conference' and heavy marketing will probably work against you when trying to make a good impression on the attendees. The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.

<hr/>
DevOpsDays é uma conferência auto-organizada apra DevOps que depende do seu patrocínio para acontecer. Entretanto, por causa da natureza do evento, nós não temos ? (we do not have vendor booths or book product pitches.)

Patrocinadores terão um espaço para expor materiais para pessoas interessadas em conhecer poder visitar durante os  intervalos. É possível que durante os open spaces o público proponha algum assunto que deseja ouvir, mas este não é um evento onde um marketing seja o foco, isso pode acontecer mas pode ser ruim para você se estiver tendando criar uma boa impressão com o público. O melhor caminho para isso é mandar um devops/engenheiro de software para interagir com o público duranto o DevOpsDays falando na "linguágem" do público.
