---
extension: html
filter:
- erb
- markdown
title:    Sponsor
layout:   event
dirty:    true
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center>
  <img border="0" src="../toronto-2016.png" alt="DevOpsDays Toronto"><br><br>
</center>

### Why Sponsor Us?  
The DevOps Days event mandate is to bring the highest­quality speakers, experts and the curious together. 
By sponsoring DevOps Days, you will be exposing your company’s brand and services to Toronto’s top talent 
in this rapidly growing space. (And feel great about it, too!)<br><br>
We greatly value sponsors for this open event. If you are interested in sponsoring [drop us an e-mail](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=DevOpsDays Toronto - Sponsorship).

<h4><a href="DevOpsDaysTorontoSponsorshipProspectus2016.pdf" target="_blank">Please click HERE</a> to download the full sponsor prospectus for DevOpsDays Toronto 2016!</h4>

<hr>

DevOpsDays is a self-organizing conference for DevOps enthusiasts and evangelists that depends on your sponsorship and participation to happen.

<!--

<div style="width:590px">
<table border=1 cellspacing=1>
  <tr>
    <th><i>packages</i></th>
    <th><center><b><u>Bronze<br />1000 usd</u></center></b></th>
    <th><center><b><u>Silver<br />3000 usd</u></center></b></th>
    <th><center><b><u>Gold<br />5000 usd</u></center></b></th>
    <th></th>
  </tr>
<tr><td>2 included tickets</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on event website</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on shared slide, rotating during breaks</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on all email communication</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on its own slide, rotating during breaks</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>1 minute pitch to full audience (including streaming audience)</td><td>&nbsp;</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr></tr>
<tr><td>2 additional tickets (4 in total)</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>4 additional tickets (6 in total)</td><td>&nbsp;</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>shared table for swag</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>booth/table space</td><td>&nbsp;</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
</table>
<hr/>
There are also opportunities for exclusive special sponsorships. We'll have sponsors for various events with special privileges for the sponsors of these events. If you are interested in special sponsorships or have a creative idea about how you can support the event, <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>">send us an email</a>.
<br/>
<br/>
</div>
-->

