---
extension: html
filter:
- erb
- markdown
title: program
dirty: true
sidebar: false
layout: event
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% if false %>
<hr>
<div class="span-16 last ">If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.</div>
<p>The program hasn't been announced yet. While you wait, <a href="../propose">submit a proposal</a> and help make the fourth Austin DevOps Days better than ever!</p>

<hr />
<div style="width: 590px;">
  <a id="sched-embed" href="http://devopsdaysaustin2015.sched.org/">View the DevOpsDays Austin 2015 mobile app</a>
  <script type="text/javascript" src="http://devopsdaysaustin2015.sched.org/js/embed.js"></script>
</div>
<% end %>

<div style="width:100%; text-align:left;">
    <iframe src="http://devopsdaysaustin2015.sched.org/" frameborder="0" height="3000" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
</div>
