---
extension: html
filter:
- erb
- markdown
title: program
dirty: true
layout: event
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<hr>
<div class="span-16 last ">If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.</div>
<p>The program hasn't been announced yet. While you wait, <a href="../propose">submit a proposal</a> and help make the fourth Austin DevOps Days better than ever!</p>

<% if false %>
<hr />
<div style="width: 590px;">
  <a id="sched-embed" href="http://devopsdaysaustin2015.sched.org/">View the DevOpsDays Austin 2015 mobile app</a>
  <script type="text/javascript" src="http://devopsdaysaustin2015.sched.org/js/embed.js"></script>
</div>
<% end %>
