---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: Sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center><img border=0 src="../logos/dodbne2014.png" alt="DevOps Days Brisbane"></center>

<hr>

<b>Sponsorship opportunities have closed for DevOps Days Brisbane 2014.</b>

<hr>

DevOpsDays is a self-organizing conference for practitioners that depends on sponsorships. Sponsors are encouraged to represent themselves by actively participating and engaging with the attendees as peers. Any attendee also has the opportunity to demo products/projects as part of an open space session, but this is not 'that kind of conference' and heavy marketing will probably work against you when trying to make a good impression on the attendees.

The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.

<hr>

<a href="DevOpsSponsorshipProspectus2014_v1.pdf">Prospectus</a>
