---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event. If you are interested in sponsoring,   <a href="DevOpsSponsorshipProspectus2014_v1.pdf">Grab a prospectus</a>
and/or
[drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<hr>

DevOpsDays is a self-organizing conference for practitioners that
depends on sponsorships. Sponsors are
encouraged to represent themselves by actively participating and
engaging with the attendees as peers. Any attendee also has the
opportunity to demo products/projects as part of an open space
session, but this is not 'that kind of conference' and heavy
marketing will probably work against you when trying to make a good
impression on the attendees.
<br>
The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.
<br>
<hr/>

<div style="width:590px">

<hr/>
    Let's talk.  Register your interest or drop us an email and one of the Organisers will give you a call and discuss the event.
    <a href="DevOpsSponsorshipProspectus2014_v1.pdf">Download a prospectus</a>

<br/>
<br/>
</div>
<hr/>
