---
extension: html
filter:
  - erb
  - markdown
title: Registration
dirty: true
layout: event
platinum: false
sidebar: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<div style="width:100%; text-align:left;">
  <iframe src="https://www.eventbrite.com.au/e/devopsdays-warsaw-2014-tickets-11685707265" frameborder="0" height="10000" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true">
  </iframe>
  <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;">
    <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com/r/eweb">
      Buy tickets on-line
    </a>
    <span style="color:#ddd;" >
      for 
    </span>
    <a style="color:#ddd; text-decoration:none;" target="_blank" href="https://www.eventbrite.com.au/e/devopsdays-warsaw-2014-tickets-11685707265">
      DevOpsDays Warsaw 2014
    </a>
    <span style="color:#ddd;" >
      powered by 
    </span>
    <a style="color:#ddd; text-decoration:none;" target="_blank" href="http://www.eventbrite.com?ref=eweb">
      Eventbrite
    </a>
  </div>
</div>
