---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

- Date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Location: **<%= render(:partial => "/#{@eventhome}/_target_location") -%>**

<img src="mt-fuji.jpg">

If your company is interested in sponsoring this event, [Send an email to the organizers](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>).