---
extension: html
filter:
- erb
- markdown
title: program
layout: event_singapore
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

# Open Spaces

If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.

# The Schedule

<div class="span-7 append-bottom border">

  <div class="span-7 last"><h4>Friday, October 7th</h4></div>

  <div class="span-2">08:00-09:00</div>
  <div class="span-4 box last">Registration, Breakfast, and Sponsor Booths Open</div>

  <div class="span-2">09:00-09:15</div>
  <div class="span-4 box last"><strong></strong>Opening Welcome & Sponsors</div>

  <div class="span-2">09:15-09:45</div>
  <div class="span-4 box last"><strong>Keynote</strong>
    <br>
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">09:45-09:55</div>
  <div class="span-4 box last">Sponsors</div>

  <div class="span-2">09:55-10:25</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">10:25-10:40</div>
  <div class="span-4 append-bottom last">Break</div>

  <div class="span-2">10:40-11:10</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">11:10-11:20</div>
  <div class="span-4 box last">Sponsors</div>

  <div class="span-2">11:20-11:50</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">11:50-13:00</div>
  <div class="span-4 append-bottom last">Catered Lunch</div>

  <div class="span-2">13:00-13:30</div>
  <div class="span-4 box last"><strong>Ignites</strong><br />
    <ul>
      <li><a href="/<%= @eventhome %>/proposals/">Title</a> (Name)</li>
    </ul>
  </div>

  <div class="span-2">13:30-13:45</div>
  <div class="span-4 box last"><strong>Open Space Opening</strong></div>

  <div class="span-2">13:45-14:00</div>
  <div class="span-4 box last"><strong>Open Space Voting</strong></div>

  <div class="span-2">14:00-15:00</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/program/openspaces.html"><strong>Open Space #1</strong></a>
  </div>

  <div class="span-2">~15:00</div>
  <div class="span-4 append-bottom last"><strong>Afternoon Snacks</strong><br /> in the food area</div>

  <div class="span-2">15:00-16:00</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/program/openspaces.html"><strong>Open Space #2</strong></a>
  </div>

  <div class="span-2">16:00-16:45</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/program/openspaces.html"><strong>Open Space #3</strong></a>
  </div>

  <div class="span-2">16:45-17:00</div>
  <div class="span-4 box last"><strong></strong>Close Day & Logistics</div>

  <div class="span-2">17:00-19:00</div>
  <div class="span-4 box last"><strong>Evening Event</strong><br />
    We'll have fun and games in and around room 'Hullet', the dining area next to the main hall.
  </div>
</div>

<div class="span-7 append-bottom border">

  <div class="span-7 last"><h4>Saturday, October 8th</h4></div>

  <div class="span-2">08:00-09:00</div>
  <div class="span-4 box last">Venue, Breakfast, and Sponsor Booths Open</div>

  <div class="span-2">09:00-09:15</div>
  <div class="span-4 box last"><strong></strong>Sponsors & Logistics</div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">09:15-09:45</div>
  <div class="span-4 box last"><strong>Keynote</strong>
    <br>
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">09:45-09:55</div>
  <div class="span-4 box last">Sponsors</div>

  <div class="span-2">09:55-10:25</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">10:25-10:40</div>
  <div class="span-4 append-bottom last">Break</div>

  <div class="span-2">10:40-11:10</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">11:10-11:20</div>
  <div class="span-4 box last">Sponsors</div>

  <div class="span-2">11:20-11:50</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/proposals/">Title</a> (Name)
  </div>

  <div class="span-2">11:50-13:00</div>
  <div class="span-4 append-bottom last">Catered Lunch</div>

  <div class="span-2">13:00-13:20</div>
  <div class="span-4 box last"><strong>Ignites</strong><br />
    <ul>
      <li><a href="/<%= @eventhome %>/proposals/">Title</a> (Name)</li>
    </ul>
  </div>

  <div class="span-2">13:20-13:25</div>
  <div class="span-4 box last"><strong>Sponsors</strong></div>

  <div class="span-2">13:25-13:30</div>
  <div class="span-4 box last"><strong>DevOpsDays Announcements</strong></div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">13:30-13:45</div>
  <div class="span-4 box last"><strong>Open Space Opening</strong></div>

  <div class="span-2">13:45-14:00</div>
  <div class="span-4 box last"><strong>Open Space Voting</strong></div>

  <div class="span-2">14:00-15:00</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/program/openspaces.html"><strong>Open Space #1</strong></a>
  </div>

  <div class="span-2">~15:00</div>
  <div class="span-4 append-bottom last"><strong>Afternoon Snacks</strong><br /> in the food area</div>

  <div class="span-2">15:00-16:00</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/program/openspaces.html"><strong>Open Space #2</strong></a>
  </div>

  <div class="span-2">16:00-16:45</div>
  <div class="span-4 box last">
    <a href="/<%= @eventhome %>/program/openspaces.html"><strong>Open Space #3</strong></a>
  </div>

  <div class="span-2">16:45-17:00</div>
  <div class="span-4 box last"><strong></strong>Close Day & Farewell</div>
</div>
