---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

![Austin](/<%= @eventhome -%>/keepdevopsweird.png)

##<%= render(:partial => "/#{@eventhome}/_target_date") -%>

<div>
  Location: <a href="location">The Marchesa - Austin</a>
  <br/><br/>
  DevOps Days Austin 2015 was a big success! <a href="http://atxdevops.github.io/">Please visit our site</a> for a summary of the conference including <a href="http://atxdevops.github.io/">slides/talks/conference summary</a>, etc.

  <% if false %>
  The <a href="http://www.devopsdays.org/events/2015-austin/program/">schedule</a> has been announced! See who is speaking.
  <br><br>
  Really, you haven't registered yet? There's no time like the present, <a href="http://www.devopsdays.org/events/2015-austin/registration/">register</a> today while tickets are still available!
  <br><br>
  If you are looking for a place to stay, the closest Hotel to the event is the <a href="http://www.ihg.com/holidayinn/hotels/us/en/austin/ausmf/hoteldetail">Austin Midtown Holiday</a>. Please review our <a href="conduct/">code of conduct</a> before you arrive.
  <% end %>
</div>
<hr>

If you want to be the first to know [subscribe to the devopsdays mailinglist](http://groups.google.com/group/devopsdays)
