---
extension: html
filter:
- erb
- markdown
dirty: true
sidebar: false
title: registration
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<div style="width:100%; text-align:left;">

<p><strong>Students may apply for discounted or maybe even free tickets. <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Drop us an email</a> and we will contact you with a special offer.</strong></p>

<!-- Embed registration iframe/link/etc. -->
<div style="width:100%; text-align:left;" >
<iframe  src="//eventbrite.co.uk/tickets-external?eid=24508983028&ref=etckt" frameborder="0" height="1000" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
</div>

</div>
