---
extension: html
filter:
- erb
- markdown
dirty: true
sidebar: false
layout : event_html5
title: registration
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

# Registration is not open yet.<br>We plan to open it end of August.

For updates please <a href="https://twitter.com/DevOpsDaysSG" target="_blank">follow us on Twitter</a>
and <a href="http://www.meetup.com/devops-singapore/" target="_blank">join our Meetup group</a>.

Thanks!

<h2>Join our DevOps Singapore Meetup group!</h2>
We provide interesting meetups around the upcoming DevOpsDays and also support you on finding the right topic for <a href="/<%= @eventhome %>/propose/">your talk</a> or <a href="/pages/open-space-format">open space</a>.

We are also planning to give a generous discount to all members of the DevOps meetup - stay tuned!

<a href="http://www.meetup.com/devops-singapore/" target="_blank"><img src="http://photos1.meetupstatic.com/photos/event/4/9/2/2/600_93858722.jpeg" width="350" alt="DevOps Singapore Meetup"></a>
