---
extension: html
filter:
- erb
- markdown
layout: event
title: Propose A Talk
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<h3>The call for proposals is now open and will close on Friday, August 15th!</h3>

<h4>There are three types of sessions at Devopsdays Chicago:</h4>
<ul>
<li><strong><em>Proposal for a talk or panel: </em></strong>these talks are attended by the entire conference.</li>
<li><strong><em>An Ignite talk: </em></strong> a 5 minute talk with 20 slides which auto-advance every 15 seconds. <a href="http://en.wikipedia.org/wiki/Ignite_(event)">The Ignite talks</a> will also be attended by the entire conference.</li>
<li><strong><em>Open Space Sessions: </em></strong>Around half the time at Devopsdays Chicago will be Open Space Format, so come prepared with ideas even if you don't submit a proposal!</li>
</ul>

The most important things the committee will be considering are:

<b>original content:</b> content not yet presented at other conferences, or a new angle to an existing problem
<B>new presenters:</B> people who are new to the space and have insightful stuff to say; we want to hear everybody's voice
<B>no vendor pitches:</B> as much as we love vendors and sponsors, we just don't think this is the right forum. We are working on some possible alternatives for sponsors to be able to provide demos to interested attendees.

<h4>How to submit a proposal</h4>

Send an email to <a href="mailto:proposals-chicago-2014@devopsdays.org">proposals-chicago-2014@devopsdays.org</a> with the following information:
<ul>
<li>Proposal title (can be changed later)</li>
<li>Type (Presentation, Panel discussion, Ignite talk, etc.)</li>
<li>Description or abstract of your talk</li>
</ul>

<h4>Rules</h4>h4>
<ul>
<li>Be specific... we aren't mind readers (a description of about 20 lines is about right)</li>
<li>Detail is good... but not as important as explaining why your proposal would be interesting</li>
<li>Nominations welcome... if you know someone who has content/experience relevant to the DevOps conversation, please point us in their direction!</li>
<li>Multiple proposals welcome... just follow the other rules</li>
</ul>ul>
