---
extension: html
filter:
- erb
- markdown
sidebar: true
layout: event
title: Proposals
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center><img border=0 src="../logos/dodbne2014.png" alt="DevOps Days Brisbane"></center>

<hr>

CFP for main presentations is closed (see the <a href="../program/">program</a>) but CFP is still open for Lightning/Ignite Talks (in advance). And, as always, OpenSpace session topics can be proposed at the conference (see below for more details).

<strong>To propose a Lightning/Ignite:</strong> Send an email to <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Lightning/Ignite Talk proposal"><%= render(:partial => "/#{@eventhome}/_email_organizers") %></a> with the following information:
<ol>
	<li>Subject: "Lightning/Ignite Talk proposal"</li>
	<li>Body:</li>
	<ol>
		<li>Title (can be changed later)</li>
		<li>Description or abstract</li>
	</ol>
</ol>

More Details:

<ol>
  <li><strong><em>Lightning / <a href="/pages/ignite-talks-format">Ignite</a> Talk</em></strong>: These are 5 minutes slots with minimal slides and no question time.  Also presented to all attendees in one room. Presenters are expected to have slides prepared for these - they can either follow the <a href="/pages/ignite-talks-format">Ignite</a> format or a less restrictive format (Lightning Talk) if that helps get your point across better.</li>
  <li><strong><em>OpenSpace Session</em></strong>: Even without a prepared presentation we encourage open discussion and interaction by having people propose a topic on the fly during the openspace opening. These topics will be announced during the conference and are run by attendees. Come prepared with ideas or problems you'd like to solve collaboratively during the conference! Check the <a href="/pages/open-space-format">openspace format</a> for more information.
</ol>
