---
extension: html
filter:
- erb
- markdown
title: welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<style>
#social { text-align: center }
</style>
<img border=0 src="./devopsdaysboise.png">
<p>
<strong>DevOpsDays is coming to <%= render(:partial => "/#{@eventhome}/_target_location") %>! </strong>
</p>
<p>
Dates: <%= render(:partial => "/#{@eventhome}/_event_date_start") %> - <%= render(:partial => "/#{@eventhome}/_event_date_end") %>
</p>
<p>
Location: <a href="./location">Boise Centre</a>
</p>
<p>
    <!-- <a href="./propose">Propose a talk</a>! -->
</p>
<p>
    <!-- <a href="./registration">Register</a>! -->
</p>
<p>
    <!-- <a href="./program">View the program</a>! -->
</p>
<p>
<a href="./sponsor">Sponsor the event</a>! It's a great way to promote your organization.
</p>
<p>
<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>
</p>
<p id='social'>
    <a class="twitter-follow-button"
  href="https://twitter.com/DevOpsDaysBoise" data-show-count="false" data-size="large">
Follow @DevOpsDaysBoise</a>
</p>
<hr>
