---
extension: html
filter:
- erb
- markdown
title: contact
dirty: true
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %> 
<% @eventid = File.basename(@page.directory) %>

メールによお問い合わせ先: 
<a href='mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>'><%= render(:partial => "/#{@eventhome}/_email_organizers") %></a>

** Devops day Tokyo 2013 主催メンバー **

<%= render(:partial => "/#{@eventhome}/_team_local") %>

** The core devopsdays organizer group**

<%= render(:partial => "/#{@eventhome}/_team_global") %>
