---
extension: html
filter:
- erb
- markdown
layout: event
title: proposals
dirty: true
platinum: true
---

<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>
<iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dG9SQ0JYWFdWdk9fcE11V1QxdzBOQXc6MQ" width="600" height="906" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>



Questions? Please email <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>"><%= render(:partial => "/#{@eventhome}/_email_proposals") %></a>
