---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event.  If you are interested in sponsoring [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<h4>Sponsorship Packages are available now!</h4>
<a href="India2013_DevOpsDaysSponsorship.pdf">Download HERE! the Devopsdays India 2013 Sponsor document</a>

<hr>

<div style="width:500px">
<table border="0" cellspacing="1">
<tr style="width:100%;" bgcolor="#009999"><th colspan="3"><i>Packages</i></th></tr>
<tr style="width:100%;">
  <td style="width:33%;" colspan="3" bgcolor="#009999"><a href="India2013_DevOpsDaysSponsorship.pdf">Payment Details</a> and Package Details from below are available <a href="India2013_DevOpsDaysSponsorship.pdf">here.</a></td>
</tr>
<tr style="width:100%;">
  <th><center><b><u>Gold</u></center></b></th><th><center><b><u>Silver</u></b></center></th><th><center><b><u>Bronze</u></b></center></th>
</tr>
<tr style="width:100%;">
  <td style="width:33%;" bgcolor="#D7D9DE"><b>2 Packages available</b></td><td style="width:33%;" bgcolor="#D7D9DE"><b>3 Packages available</b></td><td style="width:33%;" bgcolor="#D7D9DE"><b>5 Packages available</b></td>
</tr>

<tr style="width:100%;"><td style="width:33%;" colspan="3" bgcolor="#D7D9DE">Logo on DevOpsDays India 2013 website.</td></tr>
<tr style="width:100%;"><td style="width:33%;" colspan="2" bgcolor="#D7D9DE">Your company will be mentioned in opening announcement every morning.</td><td style="width:33%;" bgcolor="#D7D9DE">Your company will be mentioned once during event.</td></tr>
<tr style="width:100%;"><td style="width:33%;" bgcolor="#D7D9DE">3 Banners at Event.</td><td style="width:33%;" bgcolor="#D7D9DE">2 Banners at Event.</td><td style="width:33%;" bgcolor="#D7D9DE">1 Banner at Event.</td></tr>
<tr style="width:100%;"><td style="width:33%;" colspan="2" bgcolor="#D7D9DE">You will be mentioned in media releases.</td><td style="width:33%;" bgcolor="#919191">&nbsp;</td></tr>
<tr style="width:100%;"><td style="width:33%;" bgcolor="#D7D9DE">Sponsor Table in Openspace.</td><td style="width:33%;" bgcolor="#919191">&nbsp;</td><td style="width:33%;" bgcolor="#919191">&nbsp;</td></tr>
<tr style="width:100%;"><td style="width:33%;" bgcolor="#D7D9DE">Company Name used for Tab at Networking Eve.</td><td style="width:33%;" bgcolor="#919191">&nbsp;</td><td style="width:33%;" bgcolor="#919191">&nbsp;</td></tr>
<tr style="width:100%;"><td style="width:33%;" colspan="3" bgcolor="#D7D9DE">Permitted to provide your own advertising material.</td></tr>
<tr style="width:100%;"><td style="width:33%;" bgcolor="#D7D9DE">3 Free Tickets</td><td style="width:33%;" bgcolor="#D7D9DE">2 Free Tickets</td><td style="width:33%;" bgcolor="#D7D9DE">1 Free Ticket</td></tr>
</table>

<table>
<tr style="width:100%;">
  <th bgcolor="#009999"><center><b><u>Associate Sponsor</u></center></b></th><th bgcolor="#009999"><center><b><u>Post-Conference Dinners</u></b></center></th>
</tr>
<tr style="width:100%;"> <td style="width:50%;" bgcolor="#D7D9DE"><b>Unlimited Packages available</b></td><td style="width:50%;" bgcolor="#D7D9DE"><b>4 Packages available</b></td> </tr>
<tr style="width:100%;"> <td style="width:50%;" bgcolor="#D7D9DE">Your company will be mentioned during Welcome note.</td><td style="width:50%;" bgcolor="#D7D9DE">Your company will be mentioned during dinner.</td> </tr>
</table>
</div>

DevOpsDays is a self-organizing conference for DevOps practitioners that depends on your sponsorships to happen. However, because of the nature of the event, we do not have vendor booths or book product pitches.

Gold sponsors do get a table they can hang out at and put materials on for interested people to come visit during breaks, and of course all attendees are welcome to propose any subject they want during the openspaces, but this is not 'that kind of conference' and heavy marketing will probably work against you when trying to make a good impression on the attendees. The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.
