---
extension: html
filter:
- erb
- markdown
title: Réactions/Reactions
dirty: true
layout: event
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %> 
<% @eventid = File.basename(@page.directory) %>

Now that Devopsdays Paris is over, here is the list of reactions, speaker slides, pictures gallery and video of the talks of the event.

<hr />

<h2 id="video">Videos</h2>

Video are still being post-processed at this time. We'll update this page shortly when they'll be available. <br />
Meanwhile you can browse our speaker slides below.

<h2 id="slides">Slides</h2>

Here are some of our speaker slides:

<ul>
<li>Alexis Le-Quoc: <a href="https://speakerdeck.com/alq/customerops">CustomerOps</a></li>
<li>Florian Gilcher: <a href="https://speakerdeck.com/skade/how-devops-improved-my-dev">How devops improved my dev</a></li>
<li>Rémy-Christophe Schermesser: <a href="https://speakerdeck.com/elpicador/how-products-can-improve-projects">Project or Product?</a></li>
<li>Pierre-Yves Ritschard: <a href="https://speakerdeck.com/pyr/map-and-territory-a-story-of-visibility">Map and Territory</a></li>
</ul>

We also have some of the ignite slides:

<ul>
<li>Henri Tremblay &amp; Mikael Robert: <a href="http://www.slideshare.net/henrit/perf-devops-day">Performance Perpétuelle</a></li>
<li>Patrick Debois: <a href="http://www.slideshare.net/devopsdays/what-if-devops-was-invented-by-coca-cola">What if DevOps was invented by Coca-Cola</a></li>
</ul>

<h2 id="reactions">Reactions</h2>

Some attendees blog post about the DevopsDays Paris event:

<ul>
<li><a href="https://blog.mozilla.org/it/2013/04/23/devopsdays-paris-2013-re-cap/">Mozilla IT DevopsDays  recap</a></li>
<li><a href="http://www.enovance.com/en/blog-2/5609/enovance-at-devopsdays-paris">eNovance at DevopsDays Paris</a></li>
<li><a href="http://blog.excilys.com/2013/04/22/devopsdays-paris-2013/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+blogexcilyscom+%28Blog+Excilys%29">DevopsDays Paris par Excilys</a></li>
<li><a href="http://annaken.blogspot.co.uk/2013/04/devops-days-paris.html">Anna Kennedy</a></li>
<li><a href="http://danielpetisme.blogspot.fr/2013/04/devopsdays-1.html">Daniel Petisme</a></li>
</ul>


<h2>Picture Galleries</h2>

We're waiting for those to be published.
