---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
** Dates:**<%= render(:partial => "/#{@eventhome}/_target_date") -%>** in **<%= render(:partial => "/#{@eventhome}/_target_location") -%>

<center><img border=0 src="logos/downunder.gif" alt="Devops Days Brisbane"></center><br>
Keynote

We are pleased to announce none other than <a href="http://sidneydekker.com/about-sidney/">Dr. Sidney Dekker</a> as our keynote speaker at DevOpsDays Brisbane 2014!

Sidney is well-known internationally in many different industries due to his groundbreaking work on human error and safety. He is in high demand as a speaker on topics such as complex systems, human-machine interaction, system failure, and "just culture".  DevOpsDays attendees may be familiar with the "blameless post-mortem" concept which is based heavily on Sidney's body of work.

He is author of several best-selling books including "Behind Human Error" (2010), "Drift into Failure" (2011), "Patient Safety" (2011), and "Just Culture (2nd Edition)" (2012).

Sidney currently serves as Professor in the School of Humanities at Griffith University in Brisbane, Australia where he has founded the "Safety Science Innovation Lab".

Registrations open - <a href="https://www.eventbrite.com.au/e/devopsdays-brisbane-2014-tickets-11267197491">Get them</a> quick !

Get in touch with the organisers - <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email Organisers</a>
<center><a href="https://twitter.com/devopsdownunder" class="twitter-follow-button" data-show-count="false">Follow @devopsdownunder</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></center>
p.s.  Winter in Brisbane...
<img border="0" src="brisbane_winter.jpg">
