---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
** Dates:**<%= render(:partial => "/#{@eventhome}/_target_date") -%>** in **<%= render(:partial => "/#{@eventhome}/_target_location") -%>

<center><img border=0 src="logos/downunder.gif" alt="Devops Days Brisbane"></center><br>


Registrations open - <a href="https://www.eventbrite.com.au/e/devopsdays-brisbane-2014-tickets-11267197491">Get them</a> quick !


<center><a href="https://twitter.com/devopsdownunder" class="twitter-follow-button" data-show-count="false">Follow @devopsdownunder</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></center>
p.s.  Winter in Brisbane...
<img border="0" src="brisbane_winter.jpg">
