---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: Sponsoriser
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

Nous estimons enormément les sponsors qui nous permettent d'organiser cet évènement. Si vous êtes intéressés pour sponsoriser l'évènement [envoyez-nous un e-mail](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<hr>

<div style="width:500px">
<table border=1>
  <tr><th><i>Packages</i></th><th><center><b><u>Silver<br>(1000 Euro)</u></center></b></th><th><center><b><u>Gold<br>(3000 Euro)</u></b></center></th></tr>
  <tr><td></td><td>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ZLW7PKPPC8B2W">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
</td><td>
  <b>Sold Out</b>
</td></tr>

<tr><td>Logo sur le site web</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Logo sur tous les e-mails de communication</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Possibilité de démontrer un produit (5min max) pendant l'Openspace Demo Session(*)</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>2 tickets gratuits sponsor</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>

<tr><td>Possibilité de faire une minute de discours devant l'ensemble de l'audiance</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>2 entrées supplémentaires (4 au total)</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Présence sur le site et stand de présentation (table simple, pas un stand commercial) </td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>

</table>
</div>

DevopsDays est une conférence auto-organisée pour practiciens DevOps qui dépend de votre sponsoring pour avoir lieu. Cependant, de part la nature de l'évènement, nous n'avons pas de stands commerciaux ou de librairies.

Les sponsors Gold ont une table qu'ils peuvent arranger à leur convenance et utiliser pour accueillir les participants pendant les pauses. Bien sur tous les participants sont invités à proposer les sujets de leur choix lors des sessions openspace, mais dans 'ce style de conférence' un marketing omni-présent jouera probablement plus en votre défaveur au lieu de faire une bonne impression aux participants. La meilleure chose à faire est d'envoyer vos ingénieurs qui sauront discuter et échanger dans un langage commun avec les experts présents à DevOpsDays.

(*) La session de démonstrations n'est pas exclusivement réservée aux sponsors. Les participants peuvent aussi venir y présenter leurs projets open-source ou autres.

<hr />

We greatly value sponsors for this open event.  If you are interested in sponsoring [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<hr>

<div style="width:500px">
<table border=1>
  <tr><th><i>Packages</i></th><th><center><b><u>Silver<br>(1000 Euro)</u></center></b></th><th><center><b><u>Gold<br>(3000 Euro)</u></b></center></th></tr>
  <tr><td></td><td>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="ZLW7PKPPC8B2W">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
</td><td>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="KVHYQBUJLE9SY">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

</td></tr>

<tr><td>Logo on website</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Logo on all email communications</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Ability to demo product (5min max) during Openspace Demo Session(*)</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>2 free sponsor tickets</td><td bgcolor="green">&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>

<tr><td>Opportunity to do a one minute pitch to the full audience</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Additional 2 passes (4 in total)</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>
<tr><td>Sponsor presence and Booth Space (simple table, no full blown commercial booth:) at event</td><td>&nbsp;</td><td bgcolor="green">&nbsp;</td></tr>

</table>
</div>

DevOpsDays is a self-organizing conference for DevOps practitioners that depends on your sponsorships to happen. However, because of the nature of the event, we do not have vendor booths or book product pitches.

Gold sponsors do get a table they can hang out at and put materials on for interested people to come visit during breaks, and of course all attendees are welcome to propose any subject they want during the openspaces, but this is not 'that kind of conference' and heavy marketing will probably work against you when trying to make a good impression on the attendees. The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.

(*) The demo session is not exclusive to sponsor but can also be joined by attendees who have opensource projects or other projects they want to present
