---
extension: html
layout: event
filter:
- erb
- markdown
title: Welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<center>
  <img border="0" src="static/devops-days-rockies.jpg" alt="DevOpsDays Rockies">
</center>

<center>
  <table>
    <tr>
      <td>
          DevOpsDays is making its debut in the Rocky Mountains <%= render(:partial => "/#{@eventhome}/_target_date") -%>
      </td>
    </tr>
    <tr>
      <td>
          The event will be held in Denver, spanning two days of great talks and breakout sessions.
      </td>
    </tr>
    <tr>
      <td>
          The call for Presentations is open! We will be accepting proposals
          until Feb 28th.
      </td>
  </tr>
  <tr>
      <td>
          <a href="/<%= @eventhome %>/cfp">Let us know what you want to talk about.</a>
      </td>
  </tr>
  </table>
</center>

<center>
  <table>
    <tr>
      <td><b>Date</b></td>
      <td><%= render(:partial => "/#{@eventhome}/_target_date") -%></td>
    </tr>
    <tr>
      <td><b>Location</b></td>
      <td>
          <a href="http://www.fortrustdatacenter.com/data-centers/denver-data-center/">Fortrust</a>
      </td>
    </tr>
    <tr>
  </table>
</center>
