---
extension: html
filter:
  - erb
  - markdown
title: Contact
dirty: true
layout: event_baltimore
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@page.directory) %>

More information is coming soon, but if you have any questions, [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays Baltimore, MD 2016).

<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/DevOpsDaysBmore" data-widget-id="554808639337553940">Tweets by @DevOpsDaysBmore</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

** Our local team: **

<%= render(:partial => "/#{@eventhome}/_team_local") %>

** The core DevOpsDays organizer group: **

<%= render(:partial => "/contact/_team_global") %>
