---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event_tlv
title: Sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event.  If you are interested in sponsoring [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<h4><b>Sponsorship fee:</b>TBD</h4>

<hr>

<div style="width:500px">
<i>Package Description</i>

</br>

<ul>
	<li>Logo on website</li>
	<li>Logo on all email communications</li>
	<li>Logo on event signage</li>
	<li>Logo on event t-shirt</li>
	<li>One item and one brocure in swag bag given to all attendees</li>
	<li>Opportunity to give a five minute pitch to the full audience</li>
</ul>


DevOpsDays is a self-organizing conference for DevOps practitioners that depends on your sponsorships to happen. However, because of the nature of the event, we do not have vendor booths or book product pitches.

Each sponsor does get to put materials on a shared table which will be placed at the event venue, for interested audience to pick up during breaks, and of course all attendees are welcome to propose any subject they want during the openspaces, but this is not 'that kind of conference' and heavy marketing will probably work against you when trying to make a good impression on the attendees. The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.

</div>