---
extension: html
filter:
  - erb
  - markdown
title: Partners
dirty: true
layout: event_warsaw
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We would like to invite you to watch <a href='https://www.youtube.com/watch?v=JC4xh1bO7ww'>this</a> video in order to get an idea why investing in Poland and events held there might benefit your business too!

<h4>Please click <a href="DODW2014-OfferingProspectus.pdf">here</a> to download the offering prospectus for DevOpsDays Warsaw 2014!</h4>

We greatly value sponsors and partners for this open event. If you are interested in sponsoring or want to become our partner [drop us an e-mail](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=DevOpsDays Warsaw - Sponsor<%= @eventid %>).
<hr/>
DevOpsDays is a self-organizing conference for DevOps practitioners that depends on your generosity and kindness to happen. Please, join us to share the adventure!
