---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

![Ljubljana](/<%= @eventhome -%>/images/lj.jpg)

##<%= render(:partial => "/#{@eventhome}/_target_date") -%>

### Submit a presentation!
[Come present to your fellow techies! Call for papers is open!](/<%= @eventhome %>/propose)

As a presenter, you attend for free.

### Get your ticket
[Grab your early bird ticket!](/<%= @eventhome %>/registration)

### Contact

You can reach us at <a href='mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>'><%= render(:partial => "/#{@eventhome}/_email_organizers") %></a>
