---
extension: html
filter:
  - erb
  - markdown
title: Location
dirty: true
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

### Conference Location

<img border=0 src="venue_logo.png" alt="Polsko-Japońska Wyższa Szkoła Technik Komputerowych">

<b><a href="http://www.pjwstk.edu.pl/" target="_blank">Polsko-Japońska Wyższa Szkoła Technik Komputerowych</a></b><br>
Koszykowa 86<br>
02-008 Warsaw, Poland<br>
