---
extension: html
filter:
  - erb
  - markdown
title: Location
dirty: true
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

### Conference Location

<img border=0 src="venue_logo.png" alt="Polish-Japanese Institute of Information Technology">

<b><a href="http://www.pjwstk.edu.pl/" target="_blank">Polish-Japanese Institute of Information Technology</a></b><br>
Koszykowa 86<br>
02-008 Warsaw, Poland<br>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Polish-Japanese+Institute+of+Information+Technology&amp;aq=&amp;sll=52.222969,21.003724&amp;sspn=0.004141,0.009645&amp;ie=UTF8&amp;hq=Polish-Japanese+Institute+of+Information+Technology&amp;hnear=&amp;ll=52.223724,20.994162&amp;spn=0.008281,0.01929&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=18257371533018785781&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Polish-Japanese+Institute+of+Information+Technology&amp;aq=&amp;sll=52.222969,21.003724&amp;sspn=0.004141,0.009645&amp;ie=UTF8&amp;hq=Polish-Japanese+Institute+of+Information+Technology&amp;hnear=&amp;ll=52.223724,20.994162&amp;spn=0.008281,0.01929&amp;t=m&amp;z=14&amp;iwloc=A&amp;cid=18257371533018785781" style="color:#0000FF;text-align:left">View Larger Map</a></small>
