---
extension: html
filter:
- erb
- markdown
title: proposals
layout: event
dirty: true
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center>
<b>Call for proposals is now closed!</b><br />
Many thanks for all the propsals we received.<br />
Selected proposals will be announced on <%= render(:partial => "/#{@eventhome}/_cfp_date_announce") %>.<br />
</center>
<br />
### Please review and comment on the [submitted proposals](../proposals/)

