---
title: 'Welcome!'
layout: event_singapore
extension: html
filter:
- erb
- markdown
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<table>
  <tr>
    <td style="width: 295px; vertical-align: top;">
      <img alt="DevOpsDays Singapore 2015" src="./singapore-2015-logo-web.png" width="100%" />
    </td>
    <td>
      <p><b>DevOpsDays is coming to Singapore!</b></p>
      <p>Date: <%= render(:partial => "/#{@eventhome}/_target_date") -%></p>
      <p><b><a href="https://ti.to/devopsdays-singapore/2015">Get a ticket, registration is open!</a></b></p>
      <p><a href="/<%= @eventhome %>/location/">Location</a></p>
      <p>Have a look at the <a href="/<%= @eventhome %>/proposals/">Talks</a></p>
      <p><a href="/<%= @eventhome %>/program/">View the program!</a></p>
      <p><b><a href="/<%= @eventhome %>/sponsor/#sponsorship">Sponsor the event!</a></b> It's a great way to promote your organization.</a></p>
      <p><a href="/<%= @eventhome %>/contact/">Email the Organizers</a></p>
    </td>
  </tr>
</table>

<a name="why-attend"></a>
# Why Attend?

Whether you're in government, academia, or the private sector,
_DevOpsDays is for you._

Whether you're in operations, development, QA, security, or any other department,
_DevOpsDays is for you._

Whether you want to learn about DevOps, share your experiences, or just talk shop
with DevOps practitioners, _DevOpsDays is for you._

DevOpsDays are a mix of keynote sessions and [open spaces](http://en.wikipedia.org/wiki/Open_Space_Technology).  Final speaker selection is underway.  The keynotes and open spaces will include discussions on topics such as:

<img src="wordcloud.jpg" width="580" alt="proposal word cloud">
