---
extension: html
layout: event_html5
filter:
- erb
- markdown
title: 'Welcome!'
dirty: true
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<!--
<div style="text-align:center;">
  <img alt="DevOpsDays Singapore 2015" src="./logo.png"/>
</div>

<table>
  <tr>
    <td><b>Date</b></td>
    <td><%= render(:partial => "/#{@eventhome}/_target_date") -%></td>
  </tr>
  <tr>
    <td><b>Location</b></td>
    <td><a href="/<%= @eventhome %>/location/">TBA</a></td>
  </tr>
  <tr>
    <td><b>Participants</b></td>
    <td>See you on the 7th!</td>
  </tr>
  <tr>
    <td><b>Speakers</b></td>
    <td>Call for proposals is closed, but you can review the submissions <a href="/<%= @eventhome %>/proposals/">here</a>.</td>
  </tr>
  <tr>
    <td><b>Program</b></td>
    <td>Check out current <a href="/<%= @eventhome %>/program/">program</a>.</td>
  </tr>
  <tr>
    <td><b>Sponsors</b></td>
    <td>If your interested in sponsoring the 2015 event, please <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Interested in Sponsoring 2015 DevOpsDays Singapore">email us</a></td>
  </tr>
  <tr>
    <td><b>Contact</b></td>
    <td><a href="/<%= @eventhome %>/contact/">Get in touch with the Organizers</a>.</td>
  </tr>
  <tr>
    <td></td>
    <td><a href="https://twitter.com/devopsdaysSG" class="twitter-follow-button" data-show-count="false">Follow @devopsdaysSG</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </td>
  </tr>
</table>
-->

<!-- Remove this and uncomment the table above when we have more info -->
Welcome!

If you're interested in joining the organizing team, please <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=DevOpsDays 2015 Organizing">send us an email</a> or tweet at <a href="https://twitter.com/devopsdaysSG">@devopsdaysSG</a>. We'd love to have more voices, talents and perspectives in the organizing team.

If you're interested in speaking, follow us on Twitter for news as we set a date and open call for proposals (CFPs).

If you're interested in sponsoring, please <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Interested in Sponsoring 2015 DevOpsDays Singapore">email us</a>, but know that we're still developing a proper prospectus.

<a href="https://twitter.com/devopsdaysSG" class="twitter-follow-button" data-show-count="false">Follow @devopsdaysSG</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

We hope to see you in Singapore soon!
