---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: Sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>


## Sponsor DevOpsDays!

You can help sponsor this event and connect your company to local technical and business minds who influence security, monitoring, operations, engineering, quality, and process.

Become a sponsor now by emailing [organizers-vancouver-2014@devopsdays.org](mailto:organizers-vancouver-2014@devopsdays.org).

## How can DevOpsDays help you?
DevOpsDays is targeted at development and operations IT professionals who wish to improve the interactions between these traditional silos.

* Progress communications between your development and operations teams with open and constructive talk about their solutions and vision.
* Encourage your DevOps team to collaborate and work together more closely in order to maintain velocity and ensure project success.
* Gain learning and networking opportunities for your DevOps team.
* Bringing DevOps leaders to Vancouver allows the Pacific NorthWest community to interact with leaders in the community, to learn what works elsewhere and also communicate what works and doesn't work to the wider DevOps community.

## Who Attended in 2013?
Registration in 2013 sold out in a matter days, and even filled up a large waiting list! The majority of attendees were aligned with development and operations, but management positions also made a strong showing.

## How can you help DevOpsDays?
DevOpsDays is a self-organizing conference for DevOps practitioners. We hope you will help support this event with one of the sponsor packages.

### Friends Package
It can be difficult for small organizations to show their support and dedication to the community. The Friends of Devopsdays package is priced and restricted for small organizations to participate and bring their team!

* Only companies or organizations with fewer than 20 employees may use this package
* Up to three regular tickets included
* Up to three more tickets at discounted price of $50 each.
* Your organization name and a URL to your landing page will be included in a “thank you” email to all attendees, naming you a “friend of Devopsdays”

Friends Package price: $500

### Silver Package
* Total of two included tickets
* Your logo will be posted on the DevOpsDays web site as a Silver sponsor
* Your logo will be featured on all email communication to attendees
* You’ll be able to demo a product for up to 5 minutes during the open spaces sessions
* We’ll provide a table for the Silver sponsors to share, put collateral on, and talk with attendees at.
* You will be included in the “thank you” email with your company name, a URL to your landing page, and identifying your company as a Silver sponsor

Silver Package price: $2000

### Gold Package
* Up to four included tickets
* Your logo will be posted on the DevOpsDays web site as a Gold sponsor
* Your logo will be featured on all email communication to attendees
* You’ll be able to demo a product for up to 5 minutes during the open spaces sessions
* You’ll be able to deliver a one minute presentation or pitch to the entire audience including streaming video viewers
* We’ll provide a dedicated table for your company to put collateral on, stand or sit at, and talk with attendees at.
* You will be included in the “thank you” email with your company name, a URL to your landing page, and identifying your company as a Gold sponsor.

Gold Package price: $4000

### Platinum Package
This is a unique sponsorship package: there can be only one Platinum sponsor.

* Up to eight included tickets
* Your logo will be posted on the DevOpsDays web site as the unique Platinum sponsor
* Your logo will be featured on all email communication to attendees
* You’ll be able to demo a product for up to 5 minutes during the open spaces sessions
* You’ll be able to deliver a five minute presentation or pitch to the entire audience including streaming video viewers
* You will have your logo co-branded with DevOpsDays on the conference nametag lanyard
* We’ll provide a dedicated table for your company to put collateral on, stand or sit at, and talk with attendees at
* You will be included in the “thank you” email with your company name, a URL to your landing page, and identifying your company as the Platinum sponsor

Platinum Package price: $8000

### Happy Hour Packages
On the evening of the first day of sponsorship, we will be booking space at Steamworks for attendees to mingle over drinks and food. This is the big social event of the conference and has been a huge hit with attendees in the past.

* There is one sponsorship opportunity to sponsor the food, and one opportunity to sponsor the drinks at this event.
* Sponsoring either the food or the drinks will allow entrance tickets for up to three people to the happy hour event. These can be upgraded to full conference tickets for $50/person.
* Your logo will be posted on the DevOpsDays web site as an Evening Event sponsor
* Each sponsor will be allowed one vertical banner and one table for collateral
* One company can choose to sponsor both food and drink. If you wish to sponsor both food and drink at this event, you may decorate the space however you wish (subject to the limits imposed by Steamworks). You will also be allowed to bring up to 6 people to the happy hour event (upgradable to full conference tickets for $50/person)
* You will be included in the “thank you” email with your company name, a URL to your landing page, and identifying your company as the happy hour drinks and/or food sponsor.

Food and drink sponsorship opportunities are $4000 each.

### Amenities Sponsorships
We have a number of sponsorship opportunities for coffee, breakfast, and lunch. If you wish to sponsor these amenities, we will prominently place a sign with featuring your company’s logo which will inform attendees that the coffee, breakfast, or lunch are brought to them by your company’s generous sponsorship. Your company will also be thanked in the final “thank you” email with a URL to your landing page.

For each of the two days of the conference, there is one opportunity to sponsor each of the following:

* Coffee sponsorship: $1000
* Breakfast sponsorship: $2000
* Snacks sponsorship: $2000
* Lunch sponsorship: $2000

### Streaming Video Sponsorship
DevOpsDays will publish a free, live video stream of the main conference proceedings from 9AM to 12PM on each day of the conference. The video will be archived for free future viewing. Your company will be recognized by the MC once per conference day thanking your company for sponsoring the streaming video. Your company will be recognized in the final “thank you” email along with a URL to your landing page.

* Your company logo will be shown, full-frame, on interstitial images between conference segments
* The archived video will note that streaming was sponsored by your company.

Video sponsorship cost: $4000

## Booth Space
Gold and Platinum Sponsor packages receive dedicated booth space at the event. Your booth space will consist of a table placed prominently in our venue, SFU Harbour Centre, near the Fletcher Challenge theatre. Your table can be used to display your products and materials or swag giveaways. We encourage sponsors to send engineers to interact with attendees during session breaks, and to avoid large displays and heavy marketing materials.

## One-minute Pitch
Between sessions, Gold Sponsors are given one minute to introduce themselves and their company to the full audience. The emcee will invite a small number to make an introduction during transitions between sessions. In addition to the full audience, your one-minute pitch will be broadcast to the audience watching the live Internet video feed.

## Sponsor FAQ

### Can you send me a floor plan?
Yes, we will be sending this out when we have one. The booths for the gold sponsors will be in the Lounge area. The shared swag table for the silver sponsors will also be in the Lounge area. The Platinum sponsor’s table will be at the entrance to the Lounge area.

### How big is our booth space?
For Gold Sponsors, you will receive a table and two chairs.  Silver sponsors share a swag table where they can lay out printed materials, stickers or other swag.  For silver sponsors, this is a shared table so please be a good neighbour and don’t use up too much of the table.

### When can we pick our booth spot?
Booths are not selectable. Our team will assign your table. Assignments will be made two weeks from conference date.

### How many scanners (and which type) do we get?
None. The booth is a place to talk to people during breaks and this conference is not a typical conference or convention. We have seen that sponsors benefit the most when they bring engineers to the conference and interact with the attendees during the sessions--not at the booth. You are responsible to collect any info you want in person if you want to do giveaways. Wednesday at closing session, we will give a time slot for a giveaway.

### Can we bring 1m roll-up as our back wall?
Whatever you bring must fit behind or on your table. This conference is not about the booth!

### Will we have any chairs are our booth?
Each booth comes with 2 chairs.

### Will there be a company sign at our booth? When do you need graphics?
You must bring your own signage and all signage must either fit on the table or behind it.

### Do we get any sponsored talks?
No, but you are welcome to submit a proposal like everyone else.

### Do we get electricity connection for our booth?
Yes. You’ll get a power strip.

### Will wifi connection be good enough for showing demos?
Yes, depending on what’s being demonstrated! If you have particular needs, please let us know that you will be accommodating your own network requirements.

### Do we get an ad in the program? When do you need graphics?
Send us a URL to your logo. When you do, we’ll download the image, size it appropriately, and include it on our web site.

### Do we get a dedicated email blast?
No. As a Sponsor, you will be included in the Thank You email at the end of the conference, along with a URL to your landing page.

### Who should I send?
Not marketing folks! Send your techie geeks that can interact with the attendees during sessions, Open Spaces, and breaks.

### What are the demographics of the attendees?
Technologists, architects, technology managers.  Refer to the registration list, to be released shortly.

## Sponsor DevOpsDays!

Become a sponsor now by emailing [organizers-vancouver-2014@devopsdays.org](mailto:organizers-vancouver-2014@devopsdays.org).
