---
extension: html
filter:
- erb
- markdown
title: program
dirty: true
layout: event
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<p>If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.</p>

<p>
    <strong>Live music and film!</strong>
</p>
<p>
	Just announced - on Monday night, Austins own <a href="http://lordbuffalo.tumblr.com">Lord Buffalo</a> will perform during happy hour, starting at 5:30pm in the theater.
</p>

<%
@program = [
  [
    {
      :title => "Registration and sponsor booths open",
      :interval => "08:00 - 09:15"
    },
    {
      :interval => "08:00 - 09:15",
      :title => "Registration and Sponsor Booths Open",
    },
    {
      :interval => "09:15 - 09:35",
      :title => "(Vision) State of the Union",
    },
    {
      :interval => "09:35 - 10:10",
      :title => "(Talk)"
    },
    {
      :interval => "10:10 - 10:45",
      :title => "(Talk)"
    },
    {
      :interval => "10:45 - 11:00",
      :title => "Break"
    },
    {
      :interval => "11:00 - 11:35",
      :title => "(Talk)"
    },
    {
      :interval => "11:35 - 12:10",
      :title => "(Talk)"
    },
    {
      :interval => "12:10 - 12:20",
      :title => "Break"
    },
    {
      :interval => "12:20 - 12:25",
      :title => "(Ignite)"
    },
    {
      :interval => "12:25 - 12:30",
      :title => "(Ignite)"
    },
    {
      :interval => "12:30 - 12:35",
      :title => "(Ignite)"
    },
    {
      :interval => "12:35 - 12:40",
      :title => "(Ignite)"
    },
    {
      :interval => "12:40 - 12:45",
      :title => "(Ignite)"
    },
    {
      :interval => "12:45 - 12:50",
      :title => "(Ignite)"
    },
    {
      :interval => "12:50 - 12:55",
      :title => "(Ignite)"
    },
    {
      :interval => "12:55 - 14:00",
      :title => "Lunch"
    },
    {
      :interval => "14:00 - 14:30",
      :title => "Open space opening"
    },
    {
      :interval => "14:30 - 15:15",
      :title => "Open space #1"
    },
    {
      :interval => "15:15 - 15:30",
      :title => "Break"
    },
    {
      :interval => "15:30 - 16:15",
      :title => "Open space #2"
    },
    {
      :interval => "16:15 - 16:30",
      :title => "Break"
    },
    {
      :interval => "16:30 - 17:30",
      :title => "Open space #3"
    },
    {
      :interval => "17:30 - 20:30",
      :title => "Happy Hour and Music by Lord Buffalo"
    },
    {
      :interval => "20:30 - 22:30",
      :title => "Evening event: Movie"
    },
    {
      :interval => "22:30",
      :title => "Closing"
    }
  ],
  [
    {
      :interval => "08:30 - 09:15",
      :title => "Registration and sponsor booths open"
    },
    {
      :interval => "09:15 - 09:35",
      :title => "(Vision)"
    },
    {
      :interval => "09:35 - 10:10",
      :title => "(Talk)"
    },
    {
      :interval => "10:10 - 10:45",
      :title => "(Talk)"
    },
    {
      :interval => "10:45 - 11:05",
      :title => "Break"
    },
    {
      :interval => "11:05 - 11:40",
      :title => "(Talk)"
    },
    {
      :interval => "11:40 - 11:45",
      :title => "(Ignite)"
    },
    {
      :interval => "11:45 - 11:50",
      :title => "(Ignite)"
    },
    {
      :interval => "11:50 - 11:55",
      :title => "(Ignite)"
    },
    {
      :interval => "11:55 - 12:00",
      :title => "(Ignite)"
    },
    {
      :interval => "12:00 - 12:05",
      :title => "(Ignite)"
    },
    {
      :interval => "12:05 - 12:10",
      :title => "(Ignite)"
    },
    {
      :interval => "12:10 - 12:20",
      :title => "(Ignite)"
    },
    {
      :interval => "12:12 - 12:50",
      :title => "(Ignite) Open mic ignites"
    },
    {
      :interval => "12:50 - 14:00",
      :title => "Open space re-opening"
    },
    {
      :interval => "14:30 - 15:15",
      :title => "Open space #1"
    },
    {
      :interval => "15:15 - 15:30",
      :title => "Break"
    },
    {
      :interval => "15:30 - 16:15",
      :title => "Open space #2"
    },
    {
      :interval => "16:15 - 17:00",
      :title => "Open space #3"
    },
    {
      :interval => "17:00",
      :title => "Closing"
    }
  ]
]
%>

<%= render(:partial => "/program", :locals => {:program => @program}) -%>
