---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event_html5
title: Sponsor
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event, and we are working to provide a proper sponsorship prospectus. If you are interested in sponsoring please [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Interested in Sponsoring 2015 DevOpsDays Singapore).

The DevOpsDays event mandate is to bring the highest­ quality speakers, experts, and the curious together. This is the first edition of DevopsDays in Singapore and the first in Southeast Asia in recent years.

Singapore is not only one of the fastest growing startup hubs in the world but is also a trusted healthcare, telecom, and financial services nexus in Asia with strong investment in technology from the Government. We aim to attract representation from large enterprises and the startup community alike.

By sponsoring DevOpsDays, you will be exposing your company’s brand and services to Singapore and Southeast Asia’s top talent in this rapidly growing space.

Sponsoring DevOpsDays Singapore connects your company to some of the greatest technical and business minds in the industry who are influencing decisions in security, monitoring, operations, engineering, quality, and organizational change.

<hr>

## Why Sponsor Us?

DevOpsDays is a self-organizing conference for practitioners that depends on sponsorships. We do not have vendor booths or sell product presentations.
Sponsors have the opportunity to have short elevator pitches during the program and will get recognition on the website and social media before, during and after the event.
Sponsors are encouraged to represent themselves by actively participating and engaging with the attendees as peers.
Any attendee also has the opportunity to demo products/projects as part of an open space session, but this is not 'that kind of conference' and heavy marketing will probably work against you when trying to make a good impression on the attendees.
<br>
The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.
<br>

<hr/>
<div id="sponsorship" style="width:590px">
  <h2>Sponsorship Packages</h2>
  <table border=1>
    <tr>
      <th><i>Packages</i></th>
      <th><center><b>Contributor<br />500 SGD</center></b></th>
      <th><center><b>Silver<br />2,500 SGD</center></b></th>
      <th><center><b>Gold<br />5,000 SGD</center></b></th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td>
        Please
        <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=devopsdays <%= @eventid %> gold sponsorship">contact us</a>
      </td>
      <td>
        Please
        <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=devopsdays <%= @eventid %> gold sponsorship">contact us</a>
      </td>
      <td style="width:107px;vertical-align:top;padding-top:8px;">
        Please
        <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=devopsdays <%= @eventid %> gold sponsorship">contact us</a>
      </td>
    </tr>
    <tr>
      <td>Included tickets</td>
      <td bgcolor="bronze"><center><strong>1</strong></center></td>
      <td bgcolor="silver"><center><strong>2</strong></center></td>
      <td bgcolor="gold"><center><strong>4</strong></center></td>
    </tr>
    <tr>
      <td>Logo on DevOpsDays Singapore event website</td>
      <td bgcolor="bronze">&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Logo on <a href="http://www.meetup.com/devops-singapore/" target="_blank">Devops Singapore meetup page</a> till the event </td>
      <td bgcolor="bronze">&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Logo on shared slide, rotating during breaks</td>
      <td>&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Mentions in social media and outgoing material</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Logo size in print program</td>
      <td>&nbsp;</td>
      <td>Medium</td>
      <td>Large</td>
    </tr>
    <tr>
      <td>1 minute pitch to full audience</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Shared table for swag</td>
      <td>&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Dedicated Booth/table space</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
  </table>
  <hr/>
  <h2>SPECIAL SPONSOR PACKS</h2>
  There are also opportunities for exclusive special sponsorships. We'll have sponsors for an evening social and a speakers' dinner with special privileges for the sponsors of these events. If you are interested in special sponsorships or have a creative idea about how you can support the event, <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=sponsor devopsdays <%= @eventid %>">send us an email</a>.
  <br/>
  <br/>
  <table border=1>
    <tr>
      <th><i>Packages</i></th>
      <th><center><b>Lanyard<br />2,000 SGD</center></b></th>
      <th><center><b>Speaker Dinner<br />3,000 SGD</center></b></th>
      <th><center><b>After Party<br />8,000 SGD</center></b></th>
      <th><center><b>Venue<br />12,500 SGD</center></b></th>
      <th></th>
    </tr>
    <tr>
      <td></td>
      <td>
        Please
        <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=devopsdays <%= @eventid %> Lanyard sponsorship">contact us</a>
      </td>
      <td>
        Please
        <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=devopsdays <%= @eventid %> Speaker Dinner sponsorship">contact us</a>
      </td>
      <td>
        Please
        <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=devopsdays <%= @eventid %> After Party sponsorship">contact us</a>
      </td>
      <td>
        Please
        <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=devopsdays <%= @eventid %> Venue sponsorship">contact us</a>
      </td>
    </tr>
    <tr>
      <td>Included tickets</td>
      <td bgcolor="bronze"><center><strong>1</strong></center></td>
      <td bgcolor="silver"><center><strong>2</strong></center></td>
      <td bgcolor="silver"><center><strong>4</strong></center></td>
      <td bgcolor="gold"><center><strong>6</strong></center></td>
    </tr>
    <tr>
      <td>Logo on DevOpsDays Singapore event website</td>
      <td bgcolor="bronze">&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Logo on <a href="http://www.meetup.com/devops-singapore/" target="_blank">Devops Singapore meetup page</a> till the event </td>
      <td bgcolor="bronze">&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Logo on attendee badges</td>
      <td bgcolor="bronze">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Banners, branding and giveaways at the venue</td>
      <td>&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Mentions in social media and outgoing material</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>1 minute pitch to full audience</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Dedicated table space</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Your company is the lead sponsor for the DevOpsDays conference venue</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="gold">&nbsp;</td>
    </tr>
    <tr>
      <td>Your company hosts the DevOpsDays first night party on Friday</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>Banners, branding and giveaways at the party</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>1 minute pitch to party audience</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td bgcolor="silver">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

  </table>
</div>
<hr/>
