---
extension: html
filter:
- erb
- markdown
title: proposals
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center>
<b>Call for proposals opens <%= render(:partial => "/#{@eventhome}/_cfp_date_start") %>.</b><br>
<b>Call for proposals closes <%= render(:partial => "/#{@eventhome}/_cfp_date_end") %>.</b><br>
Selected proposals will be announced on <%= render(:partial => "/#{@eventhome}/_cfp_date_announce") %>.
</center>

<br>

## Call for Proposals


DevOps is an accepted working culture by now. This brings a few things to the table we would like to look at: New hiring processes, formalization, standardization, rules and processes. Maybe your proposal can shed some light on these issues. But we’re also open for any other DevOps related topic you want to talk about, both cultural and technical.


### These things make us scratch our heads. Do you have an answer?
* Can you hire a DevOps Engineer (if there is a job like this)?
* How do you form a DevOps team? Isn’t that just another silo?
* Certified DevOps? We’re not sure if this is a good or a bad thing.
* Does DevOps have a technical toolset?

### About our culture: Are there still things we need to do better?
* Women in Tech: What do we need to change to make women feel welcome in our teams?
* Diversity: Productive teams benefit from a diverse line-up. 
    * What are your success stories?
    * How do you cope with the challenges this poses?
    * Who is responsible for making this a success?
* How do you hire for cultural fit anyway?
* How much management do you need? Or is this a place for leaders?
* How do you lead change?
* How do you break up silos without spilling all the corn?
* What kind of culture do you need to enable cross-functional working?
* How does DevOps fit into or add to the concepts of agile and lean?
* Does DevOps work within a settled or old school enterprise setting? How?

### Technical stuff (because we’re Devs and Ops after all)
* How do you describe your network infrastructure as code?
* Assumption: Automating infrastructure is easy, automating data is hard. Discuss.
* How do you code your infrastructure in a mixed public cloud / datacenter setup?
* Taking your business to the public cloud: Just a datacenter substitute or actual added value?

### And of course the classic topics
* Which impact does DevOps have on traditional security auditing or change control?
* Building dashboards because #monitoringstillsucks (err, #monitoringlove)
* How do you scale DevOps to the whole organization? Or is this an anti-pattern?


### There are three formats to propose for
1. A talk during the conference part : these are 30 minutes slots that will have all people's full attention as everybody will be in that one room.
2. An Ignite talk that will be presented during the Ignite sessions: these are 5 minutes slots with slides changing every 15 seconds (20 slides total) also presented to all attendees in one room.
3. Openspace session : even without a prepared presentation we welcome the discussion and interaction by having people propose a session on the fly during the openspace opening. Check the openspace format for more information.

### Even if you don't propose, please consider [commenting on proposals submitted by others](../proposals/)

Our main criteria to make it to the top selection are:

- _original content_: content not yet presented at other conferences, or a new angle to an existing problem
- _new presenters_: people who are new to the space and have insightful stuff to say; we want to hear everybody's voice
- _no vendor pitches_: as much as we value vendors and sponsors, we just don't think this is the right forum. You can demo at your table or during Open Space.

<strong>How to submit a proposal:</strong> Send an email to [<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>"><%= render(:partial => "/#{@eventhome}/_email_proposals") %></a>] with the following information
<ol>
	<li>Proposal working title (can be changed later)</li>
	<li>Type (presentation, ignite or open space discussion)</li>
	<li>Description or abstract</li>
</ol>
<strong>Rules:</strong>
<ul>
	<li>Be specific... we aren't mind readers (a description of about 20 lines is about right)</li>
	<li>Detail is good... but not as important as explaining why your proposal would be interesting</li>
	<li>Propose your own talk; don't have your marketing department do it for you.</li>
	<li>Nominations welcome... if you know someone who has content/experience relevant to the DevOps conversation, please point us in their direction!</li>
	<li>Multiple proposals welcome... just follow the other rules</li>
</ul>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//normes.org/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 8]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//normes.org/piwik/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->
