---
extension: html
layout: event
filter:
- erb
- markdown
title: Welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<center>
  <table>
    <tr>
      <td></td>
    </tr>
    <tr>
      <td><b>Date</b></td>
      <td><%= render(:partial => "/#{@eventhome}/_target_date") -%></td>
    </tr>
    <tr>
      <td><b>Location</b></td>
      <td>
        <a href="location/">
          <a href="location/">Kalkscheune</a>
      </td>
    </tr>
    <tr>
      <td><b>Contact</b></td>
      <td><a href="contact/">Get in touch with the Organisers</a>.</td>
    </tr>
  </table>
</center>
<center>
  <a href="http://groups.google.com/group/devopsdays">Subscribe to the DevOpsDays mailing list</a>
</center>
