---
extension: html
filter:
- erb
- markdown
layout: event
title: Proposer
dirty: true
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<hr>

Jump to the <a href="#english">English version</a>

<center id="french">L'appel à propostions terminé pour les présentations, mais <b>toujours ouvert pour les <a href="/pages/ignite-talks-format"> conférences flash</a></b></center>
  
<hr>
Il y a trois moyens de proposer une session :
<ol>
  <li><strong><em>Une proposition pour une session / un débat</em></strong> pendant la période consacrée aux conférences : Ce sont des créneaux de 30 minutes qui seront jouées devant l'ensemble de l'auditoire.</li>
  <li><strong><em>Une session flash</em></strong> qui sera présenté pendant les <a href="/pages/ignite-talks-format"> conférences flash</a>: Ce sont des créneaux de 5 minutes avec des diapositives changeant toutes les 15 secondes (20 diapositives au total) joués aussi devant l'ensemble de l'auditoire.</li>
  <li><strong><em>Une session Openspace</em></strong> : Même sans avoir préparé à l'avance une présentation nous accueillons les discussions et échanges soumis en direct lors de l'ouverture des openspaces. Regardez le <a href="/pages/open-space-format">format openspace</a> pour plus de détails.
</ol>

### Même si vous ne proposez pas de sujet, prenez l'opportunité s'il vous plait de [commenter les propositions faites par d'autres](../proposals/)

Nos critères principaux de sélection pour retenir une session sont :

- _contenu original_: le contenu est inédit, il n'a pas été présenté précedement lors d'une autre conférence, ou il présente un sujet sous un angle différent
- _nouveaux orateurs_: les personnes qui sont nouvelles dans ce domaine et ont des choses perspicaces à dire, nous voulons donner la parole à tout le monde
- _pas de baratin commercial_: autant nous respectons énormément les éditeurs et sponsors, nous pensons juste que cela n'est pas approprié. Il y a un openspace consacré aux démonstrations où vous pouvez montrer vos produits.
- _sessions francophones_: à contenu équivalent nous préviligierons les sessions faites en français

<strong>Quelques suggestions pour vous donner des idées :</strong>
<ul>
	<li>Quel est le role de la QA et des testeurs une approche devops, comment intègre-t'on les controles qualité dans un processus de livraison en continu ?</li>
	<li>Quel impact peut avoir l'approche devops sur les sujets traditionnels comme la sécurité, l'audit, le control des changements ....</li>
	<li>Comment devops co-existe avec ITIL, Cobit</li>
  <li>Comment gérer la livraison ?
	<li>Comment assurer la gestion de configuration et la livraison sur des environnements hétérogènes Unix ET Windows</li>
  <li>Construire des panneaux de suivi parceque #monitoringsucks
	<li>L'impacte de devops sur les règles RH, et le processus d'embauche</li>
	<li>Prouvez que devops peut aller bien au delà du cadre de la startup web de 5-8 personnes, nous adorons les cas basés sur les SI traditionnels des grandes entreprises</li>
	<li>Malgré toute l'automatisation, la gestion des données est toujours une activité difficile, comment cela affecte-t'il les administrateurs de bases de données, la gestion des sauvegardes, ...</li>
	<li>Comment impliquer les divisions métier dans l'approche devops ?</li>
	<li>Comment impliquer VOTRE repsonsable, comment en faites-vous un cas métier ?</li>
	<li>Au dela de la gestion de configuration, comment gérer l'orchestration ou le faire à large échelle ?</li>
	<li>Et bien sur n'importe quel autre sujet dans le domain Devops</li>
</ul>

<strong>Comment faire une propositon :</strong> Envoyez un e-mail à [<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>"><%= render(:partial => "/#{@eventhome}/_email_proposals") %></a>] avec les informations suivantes
<ol>
	<li>Titre de la proposition (peut être changé plus tard)</li>
	<li>Type (présentation, panel de discussion, table ronde, débat, session flash, etc.)</li>
	<li>Description ou résumé</li>
</ol>
<strong>Règles :</strong>
<ul>
	<li>Soyez spécifiques... nous ne sommes pas voyants (une description d'environ 20 lignes doit suffir)</li>
	<li>Détailler est bien... mais pas aussi important que d'expliquer pourquoi votre proposition vaut le coup d'être retenue</li>
	<li>Les nominations sont bienvenues... Si vous connaissez des personnes qui possèdent du contenu / une expérience utile pour l'approche DevOps montrez les nous !</li>
	<li>Plusieurs propositions par personnes sont bienvenues... tant que vous suivez les autres règles</li>
</ul>

<hr />

<center id="english">Call for main proposals is now closed, but <b>still open for <a href="/pages/ignite-talks-format">Ignite sessions</a></b></center>

<hr/>
There are three ways to propose a session:
<ol>
  <li><strong><em>A proposal for a talk/panel</em></strong> during the conference part : these are 30 minutes slots that will have all people's full attention as everybody will be in that one room.</li>
  <li><strong><em>An Ignite talk</em></strong> that will be presented during the<a href="/pages/ignite-talks-format"> Ignite sessions</a>: these are 5 minutes slots with slides changing every 15 seconds (20 slides total) also presented to all attendees in one room</li>
  <li><strong><em>Openspace session</em></strong> : even without a prepared presentation we welcome the discussion and interaction by having people propose a session on the fly during the openspace opening. Check the <a href="/pages/open-space-format">openspace format</a> for more information
</ol>

### Even if you don't propose, please consider [commenting on proposals submitted by others](../proposals/)

Our main criteria to make it to the top selection are:

- _original content_: content not yet presented at other conferences, or a new angle to an existing problem
- _new presenters_: people who are new to the space and have insightful stuff to tell, we want to hear everbody's voice
- _no vendor pitches_: as much as we value vendors and sponsors, we just don't think this is the right forum. There is a demo openspace slot where you have 5 minutes to show products.

<strong>Some suggestions to get you thinking:</strong>
<ul>
	<li>What is the role of QA/Tester in devops, how do we integrate QA in the continuous delivery process</li>
	<li>The impact devops has on traditional security/auditing/change control</li>
	<li>How does devops co-exist with ITIL, Cobit</li>
  <li>How about release management ?
	<li>What about configuration management and delivery in Mixed Unix AND Windows environments</li>
  <li>Building dashboards because #monitoringsucks
	<li>The impact of devops on HR policies, and the hiring process</li>
	<li>Help prove that devops can scale beyond the 5-8 person web startups, we love traditional IT enterprise cases</li>
	<li>With all the automation, data is still a hard thing to handle, how does it affect, DBA's, backup strategies, ...</li>
	<li>How to involve the business in devops</li>
	<li>How to get YOUR boss involved, how do you make the business case</li>
	<li>Beyond Configuration Management, about challenges like orchestration, or doing things at large scale</li>
	<li>And of course any other topic in the realm of Devops</li>
</ul>

<strong>How to make a proposal:</strong> Send an email to [<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>"><%= render(:partial => "/#{@eventhome}/_email_proposals") %></a>] with the following information
<ol>
	<li>Proposal working title (can be changed later)</li>
	<li>Type (presentation, panel discussion, moderated general discussion, debate, etc.,ignite)</li>
	<li>Description or abstract</li>
</ol>
<strong>Rules:</strong>
<ul>
	<li>Be specific... we aren't mind readers (a description of about 20 lines is about right)</li>
	<li>Detail is good... but not as important as explaining why your proposal would be interesting</li>
	<li>Nominations welcome... if you know someone who has content/experience relevant to the DevOps conversation, please point us in their direction!</li>
	<li>Multiple proposals welcome... just follow the other rules</li>
</ul>
