---
extension: html
layout: event
filter:
  - erb
  - markdown
title: welcome
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<h2>5th Anniversary DevOpsDays Silicon Valley!</h2>
<div class="row">
    <div class="col-sm-4">
        <img border=0 width="213px" height="160px" src="show-me-the-devops.png">
    </div>
    <div class="col-sm-8">
        <ul class="list-unstyled">
            <li>Date: <strong>27 &amp; 28 of June 2014</strong></li>
            <li>Location: <a href="location">Silicon Valley TBD</a></li>
        </ul>
        <p>Stay tuned for when Registration will be announced <a href="propose">Call for Presentations</a> is now open though so please submit sooner than later!.</p>
  
        <p>Call for suggested Theme, Event Logo/Image and T-Shirts</p>
        <p>Send an email to [<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>"><%= render(:partial => "/#{@eventhome}/_email_proposals") %></a>]
          with any proposed Theme, Event Logo/Image and T-Shirts. Particularly
          interested in ones that exemplify the 5th Year Anniversary of the
          Silicon Valley DevOpsDays.
        </p>
        <p>
            If you want to be the first to get news
            <a href="http://groups.google.com/group/devopsdays">subscribe to the devopsdays mailinglist</a>
        </p>
    </div>
</div>
