---
extension: html
filter:
- erb
- markdown
title: contact
dirty: true
layout: event_pitt
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@page.directory) %>

Contact us by email at <a href='mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>'><%= render(:partial => "/#{@eventhome}/_email_organizers") %></a>.

We pay attention to Twitter at [@devopsdayspgh](http://twitter.com/devopsdayspgh).

Most of our organizers hangout on [Code & Supply's Slack chat](http://www.codeandsupply.co/chat).

** Our special team **

<%= render(:partial => "/#{@eventhome}/_team_local") %>

Please thank [@CodeAndSupply](http://www.twitter.com/codeandsupply) and
[Justin X. Reese](http://www.twitter.com/justinxreese) for ensuring that our bills are paid.

** The core devopsdays organizer group **

<%= render(:partial => "/contact/_team_global") %>
