---
extension: html
filter:
- erb
- markdown
title: welcome
layout: event
dirty: true
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
  <table><tr><td>
        <center>
        <!-- img border=0 width="160" height="240" src="./yourlogohere.png">
-->
</td><td valign=top>
<h2>DevOpsDays is returning to <%= render(:partial => "/#{@eventhome}/_target_location") %>! </h2>
Dates: <%= render(:partial => "/#{@eventhome}/_event_date_start") %> - <%= render(:partial => "/#{@eventhome}/_event_date_end") %>
<br><br>
<h2>The rise of DevOps, enabling the lean Enterprise</h2>
<p>The emphasis of DevOpsDays London 2016 is on DevOps in the Enterprise with specific reference to the Financial Services Industry.  With that said, the event is open to any Enterprise/delegate for whom DevOps may not yet seem a natural fit, intuitive or adding value.</p>
<p>Amongst the several DevOps and Lean experts attending DevOpsDays London 2016 we are very pleased to have Gene Kim (co-author of The Phoenix Project) and Joanne Molesky (co-author The Lean Enterprise) joining us.  You will have the opportunity to meet them in person and hear them speak on a variety of subject matter aligned to the Enterprise theme.</p>

<a href="./location">Location</a>
<br><br>

<a href="./propose">Propose a talk</a>!
<br><br>

<a href="./registration">Register</a>!
<br><br>

<a href="./program">View the program</a>!
<br><br>

<a href="./sponsor">Sponsor the event</a>! It's a great way to promote your organization.
<br><br>

<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>
<br><br>
</td>
</tr>
</table>
</center>

<hr>
