---
extension: html
filter:
- erb
- markdown
title: Program
dirty: true
layout: event_html5
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

## Tuesday, October 7th and Wednesday, October 8th

<!--
We will be <a href="https://www.youtube.com/watch?v=LKOE-jINMu8">livestreaming the talks and Ignites</a>!
-->

<hr />

<div class="span-16 append-bottom">
  If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.
</div>

<hr />

<center><b><h2>The Schedule</h2></b></center>

<div class="span-7 append-bottom border">

  <div class="span-7 last"><h4>Tuesday, October 7th</h4></div>

  <div class="span-2">08:00-09:00</div>
  <div class="span-4 box last">Registration, Breakfast, and Sponsor Booths Open</div>

  <div class="span-2">09:00-9:15</div>
  <div class="span-4 box last"><strong></strong>Opening Welcome & Sponsors</div>

  <div class="span-2">09:15-09:50</div>
  <div class="span-4 box last">
    <strong><a href="/<%= @eventhome %>/proposals/How%20Much%20Is%20That%20DevOps%20In%20The%20Window/">How Much Is That DevOps In The Window?</a></strong>
    <br />
    <a href="https://twitter.com/bridgetkromhout">Bridget Kromhout</a>
  </div>

  <div class="span-2">09:55-10:30</div><div class="span-4 box last">
    <strong><a href="/<%= @eventhome %>/proposals/Priorities%20Affect%20Us%20All...%20Differently/">Priorities Affect Us All... Differently!</a></strong>
    <br />
    <a href="https://twitter.com/ajdomie">Andy Domeier</a>
  </div>

  <div class="span-2">10:30-10:45</div>
  <div class="span-4 append-bottom last">Break</div>

  <div class="span-2">10:45-10:50</div>
  <div class="span-4 box last">Sponsors</div>

  <div class="span-2">10:50-11:25</div>
  <div class="span-4 box last">
      <strong><a href="/<%= @eventhome %>/proposals/Preparing%20for%20a%20SOC2%20audit%20with%20DevOps%20in%20mind/">Preparing for a SOC2 Audit with DevOps in Mind</a></strong>
      <br />
      <a href="https://twitter.com/bhenerey">Brian Henerey</a>
  </div>

  <div class="span-2">11:30-12:05</div>
  <div class="span-4 box last">
    <strong><a href="/<%= @eventhome %>/proposals/The%20Last%20DevOps%20Tool/">The Last DevOps Tool</a></strong>
    <br />
    <a href="https://twitter.com/fnichol">Fletcher Nichol</a>
  </div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">12:05-13:15</div>
  <div class="span-4 append-bottom last">Catered Lunch</div>

  <div class="span-2">13:15-13:45</div>
  <div class="span-4 box last"><strong>Ignites</strong> - <a href="https://www.youtube.com/watch?v=kkWBSTbwI7s">videos!</a><br />
    <ul>
      <li><a href="/<%= @eventhome %>/proposals/Configuration%20Management%20for%20Tech%20Leads">Configuration Management for Tech Leads</a> - <a href="https://www.linkedin.com/pub/phaedra-marshall/35/527/17">Phaedra Marshall</a></li>
      <li><a href="/<%= @eventhome %>/proposals/Customer%20Service%20&%20Support%20in%20Devops/">Customer Service & Support in Devops</a> - <a href="https://twitter.com/markcornick">Mark Cornick</a></li>
      <li><a href="/<%= @eventhome %>/proposals/That's%20not%20a%20DevOps...%20*this*%20is%20a%20DevOps/">That's not a DevOps... <em>this</em> is a DevOps</a> - <a href="https://twitter.com/asharppaul">Alan Sharp-Paul</a></li>
      <li><a href="/<%= @eventhome %>/proposals/Introverts%20and%20Tech%20Conferences%20-%20How%20to%20avoid%20stress%20and%20enjoy%20yourself/">Introverts and Tech Conferences - How to avoid stress and enjoy yourself</a> - <a href="https://twitter.com/tomduffield">Tom Duffield</a></li>
    </ul>
  </div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">13:45-14:15</div>
  <div class="span-4 box last"><strong>Open Space Voting</strong><br />Open Space Introduction & Voting</div>

  <div class="span-2">14:20-15:05</div>
  <div class="span-4 box last">
    <a href="http://bit.ly/dodchi-os1"><strong>Open Space</strong> (Open Space) <br /> Open Space #1</a>
  </div>

  <div class="span-2">~15:00</div>
  <div class="span-4 append-bottom last"><strong>Afternoon Snacks</strong><br /> in the sponsor area</div>

  <div class="span-2">15:20-16:05</div>
  <div class="span-4 box last">
    <a href="http://bit.ly/dodchi-os1"><strong>Open Space</strong> (Open Space) <br /> Open Space #2</a>
  </div>

  <div class="span-2">16:20-17:05</div>
  <div class="span-4 box last">
    <a href="http://bit.ly/dodchi-os1"><strong>Open Space</strong> (Open Space) <br /> Open Space #3</a>
  </div>

  <div class="span-2">17:10-17:25</div>
  <div class="span-4 box last"><strong></strong>Close Day & Logistics</div>

  <div class="span-2">18:30-21:30</div>
  <div class="span-4 box last"><strong>Evening Event</strong><br />
    @ <a href="http://hqbeercade.com/rivernorth/">Headquarters Beercade</a><br />
    213 W. Institute<br />
    Chicago, IL 60610<br />
    We'll have fun and games in a private space at HQ for at least 3 hours, but we may have fun for longer. :)
  </div>

</div>


<div class="span-7 append-bottom border">

  <div class="span-7 last"><h4>Wednesday, October 8th</h4></div>

  <div class="span-2">08:00-09:00</div>
  <div class="span-4 box last">Venue, Breakfast, and Sponsor Booths Open</div>

  <div class="span-2">09:00-9:15</div>
  <div class="span-4 box last"><strong></strong>Sponsors & Logistics</div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">09:15-09:50</div>
  <div class="span-4 box last">
    <strong><a href="/<%= @eventhome %>/proposals/Rules%20of%20DevOops">Rules of DevOops</a></strong>
    <br />
    <a href="https://twitter.com/freebsdgirl">Randi Harper</a>
  </div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">09:55-10:30</div><div class="span-4 box last">
    <strong><a href="/<%= @eventhome %>/proposals/Roll%20Forward,%20Roll%20Back,%20Cancel%20The%20Release/">Roll Forward, Roll Back, Cancel The Release</a></strong>
    <br />
    <a href="https://twitter.com/JacobTomaw">Jacob Tomaw</a>
  </div>

  <div class="span-2">10:30-10:45</div>
  <div class="span-4 append-bottom last">Break</div>

  <div class="span-2">10:45-10:50</div>
  <div class="span-4 box last">Sponsors</div>

  <div class="span-2">10:50-11:25</div>
  <div class="span-4 box last">
    <strong><a href="/<%= @eventhome %>/proposals/Who%20Watches%20the%20Watchmen/">Who Watches the Watchmen?</a></strong>
    <br />
    <a href="https://twitter.com/arupchak">Arup Chakrabarti</a>
  </div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">11:30-12:05</div>
  <div class="span-4 box last">
    <strong><a href="/<%= @eventhome %>/proposals/DevOps-42-And-3-Destructive-Myths/">DevOps == 42 & Three Destructive Myths</a></strong>
    <br />
    <a href="https://twitter.com/SoberBuildEng">J. Paul Reed</a>
  </div>

  <div class="span-2">12:05-13:15</div>
  <div class="span-4 append-bottom last">Catered Lunch</div>

  <div class="span-2">13:15-13:45</div>
  <div class="span-4 box last"><strong>Ignites</strong> - <a href="https://www.youtube.com/watch?v=01Qfk7d8CMg">videos!</a><br />
    <ul>
      <li><a href="/<%= @eventhome %>/proposals/Implementing%20Change/">Implementing Change</a> - <a href="https://twitter.com/do4urka_">Sasha Rosenbaum</a></li>
      <li><a href="/<%= @eventhome %>/proposals/The%20Dunning-Kruger%20Effect/">"If Only They Knew" - The Dunning-Kruger Effect</a> - <a href="https://twitter.com/sethgoings">Seth Goings</a></li>
      <li><a href="/<%= @eventhome %>/proposals/Keep%20DevOps%20Simple/">Keep DevOps Simple</a> - <a href="https://twitter.com/twoflowers">Tom Martin</a></li>
      <li><a href="/<%= @eventhome %>/proposals/Layeth%20the%20SMACeth%20down(eth)%20-%20Turning%20DevOps%20on%20its%20head/">Layeth the SMACeth down(eth) - Turning DevOps on Its Head</a> - <a href="https://twitter.com/SteveElsewhere">Steve Pereira</a></li>
      <li><a href="/<%= @eventhome %>/proposals/Strategies%20for%20Living%20Without%20Scheduled%20Maintenance/">Strategies for Living Without Scheduled Maintenance</a> - <a href="https://twitter.com/dougbarth">Doug Barth</a></li>
    </ul>
  </div>

  <div class="span-2">13:45-14:15</div>
  <div class="span-4 box last"><strong>Open Space Voting</strong><br />Open Space Voting</div>

  <div class="span-6 last"><!-- for spacing --><br /></div>

  <div class="span-2">14:20-15:05</div>
  <div class="span-4 box last">
    <a href="http://bit.ly/dodchi-os2"><strong>Open Space</strong> (Open Space) <br /> Open Space #1</a>
  </div>

  <div class="span-2">~15:00</div>
  <div class="span-4 append-bottom last"><strong>Afternoon Snacks</strong><br /> in the sponsor area</div>

  <div class="span-2">15:20-16:05</div>
  <div class="span-4 box last">
    <a href="http://bit.ly/dodchi-os2"><strong>Open Space</strong> (Open Space) <br /> Open Space #2</a>
  </div>

  <div class="span-2">16:20-17:05</div>
  <div class="span-4 box last">
    <a href="http://bit.ly/dodchi-os2"><strong>Open Space</strong> (Open Space) <br /> Open Space #3</a>
  </div>

  <div class="span-2">17:10-17:30</div>
  <div class="span-4 box last"><strong></strong>Close Day & Farewell</div>

  <div class="span-2">18:30</div>
  <div class="span-4 box last"><strong>Farewell Toast?</strong><br />Details TBD...</div>

</div>
