---
extension: html
filter:
  - erb
  - markdown
title: Program
dirty: true
layout: event_warsaw
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<div class="span-16 last ">If you are new to the <em>Open Space</em> concept you may <a href="/pages/open-space-format">want to read some more details</a>.</div>
<br /><br />
Please see <strong><a href="http://lanyrd.com/2014/devopsdayswaw/">Lanyrd</a></strong> for the latest program updates!<br />
<hr/>

<div class="span-15 append-bottom border">
	<div class="span-15 last">
		<h4>Day 1 - Thursday 25th September</h4>
	</div>
	<hr/>
	<div class="span-3"><b>Time</b></div><div class="span-8"><b>Activity</b></div><div class="span-3 append-bottom last"><b>Lead/Speaker</b></div>
	<div class="span-3">08:00 - 09:00</div><div class="span-8">Registration and Breakfast</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">09:00 - 09:30</div><div class="span-8">Opening</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">09:30 - 10:00</div><div class="span-8">Changing the Behavior of IT</div><div class="span-3 append-bottom last">Michael Ducy</div>
	<div class="span-3">10:00 - 10:30</div><div class="span-8">Hitchhiker's guide to cloud computing</div><div class="span-3 append-bottom last">Piotr Baranowski</div>
	<div class="span-3">10:30 - 11:00</div><div class="span-8">Branch Management: Continuous Integration, Change and Release Management at Almost No Cost.</div><div class="span-3 append-bottom last">Matt Harasymczuk</div>
	<div class="span-3">11:00 - 11:30</div><div class="span-8">Coffee Break</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">11:30 - 12:00</div><div class="span-8">Cheffing a department, one Dev at a time.</div><div class="span-3 append-bottom last">Andrzej Grzesik</div>
	<div class="span-3">12:00 - 12:30</div><div class="span-8">Improving developer experience in interaction with CI systems</div><div class="span-3 append-bottom last">Pavel Stepanov</div>
	<div class="span-3">12:30 - 13:00</div><div class="span-8">ITSM in Agile times</div><div class="span-3 append-bottom last">Bartosz Górczyński</div>
	<div class="span-3">13:00 - 13:30</div><div class="span-8">Lunch</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">13:30 - 14:00</div><div class="span-8">DevOps: JFDI</div><div class="span-3 append-bottom last">Grzegorz Nosek</div>
	<div class="span-3">14:00 - 14:30</div><div class="span-8">DevOps in UK Government</div><div class="span-3 append-bottom last">Gareth Workman</div>
	<div class="span-3">14:30 - 15:30</div><div class="span-8">Open Space Opening</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">15:30 - 16:30</div><div class="span-8">Open Space round 1</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">16:30 - 17:30</div><div class="span-8">Open Space round 2</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">17:30 - 19:30</div><div class="span-8">Burger Fest with Allegro</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">19:30 - 24:00</div><div class="span-8">Beer Fest</div><div class="span-3 append-bottom last">Rafał Małanij</div>
</div>
<hr/>

<div class="span-15 append-bottom border">
	<div class="span-15 last">
		<h4>Open Space and Workshops Day 1</h4>
	</div>
	<hr/>
	<div class="span-2"><b>Time</b></div><div class="span-3"><b>Workshop Room A</b></div><div class="span-3"><b>Workshop Room B</b></div><div class="span-3"><b>Open Space Room A</b></div><div class="span-3 append-bottom last"><b>Open Space Room B and C</b></div>
	<div class="span-2">15:30 - 16:30</div><div class="span-3">Ansible - Grzegorz Nosek</div><div class="span-3">Docker - Joern Barthel</div><div class="span-3">“What drives a successful DevOps transformation" - Simon H Poulton</div><div class="span-3 append-bottom last">To be added.</div>
    <hr/>
	<div class="span-2">16:30 - 17:30</div><div class="span-3">Ansible - Grzegorz Nosek</div><div class="span-3">Docker - Joern Barthel</div><div class="span-3">To be added.</div><div class="span-3 append-bottom last">To be added.</div>
</div>
<hr/>

<div class="span-15 append-bottom border">
	<div class="span-15 last">
		<h4>Day 2 - Friday 26th September</h4>
	</div>
	<hr/>
	<div class="span-3"><b>Time</b></div><div class="span-8"><b>Activity</b></div><div class="span-3 append-bottom last"><b>Lead/Speaker</b></div>
	<div class="span-3">08:00 - 09:00</div><div class="span-8">Registration and Breakfast</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">09:00 - 09:30</div><div class="span-8">Building Deployment Automation Platforms for Continuous Delivery</div><div class="span-3 append-bottom last">Jan Svoboda</div>
	<div class="span-3">09:30 - 10:00</div><div class="span-8">From zero to hero - easy log centralization with Logstash and Elasticsearch</div><div class="span-3 append-bottom last">Rafał Kuć</div>
	<div class="span-3">10:00 - 10:10</div><div class="span-8">Soviet military hardware primer for devops</div><div class="span-3 append-bottom last">Grzegorz Nosek</div>
	<div class="span-3">10:10 - 10:20</div><div class="span-8">IBM BlueMix Introduction</div><div class="span-3 append-bottom last">Bartosz Chrabski</div>
	<div class="span-3">10:20 - 10:30</div><div class="span-8">Scaling out your storage, one brick at a time</div><div class="span-3 append-bottom last">Luca Gibelli</div>
	<div class="span-3">10:30 - 11:00</div><div class="span-8">Coffee Break</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">11:00 - 11:30</div><div class="span-8">DevOps at Home: making it working</div><div class="span-3 append-bottom last">Roman Pavlyuk</div>
	<div class="span-3">11:30 - 12:00</div><div class="span-8">Cloud Foundry: How it’s cooked.</div><div class="span-3 append-bottom last">Alex Lomau</div>
	<div class="span-3">12:00 - 12:30</div><div class="span-8">Lessons learned building a petabyte-scale data infrastructure</div><div class="span-3 append-bottom last">Zoltan Toth, Julianna Göbölös-Szabó</div>
	<div class="span-3">12:30 - 13:00</div><div class="span-8">Remote task management using Saltstack</div><div class="span-3 append-bottom last">Marcin Baryłka, Piotr Ćwiek</div>
	<div class="span-3">13:00 - 14:00</div><div class="span-8">Lunch</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">14:00 - 14:30</div><div class="span-8">A typical sysadmin day with ralph.</div><div class="span-3 append-bottom last">Daniel Pijanowski</div>
	<div class="span-3">14:30 - 15:00</div><div class="span-8">Docker offshore - packaging applications for hard to reach datacenter</div><div class="span-3 append-bottom last">Joern Barthel</div>
	<div class="span-3">15:00 - 15:30</div><div class="span-8">Open Space Opening</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">15:30 - 16:30</div><div class="span-8">Open Space round 1</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">16:30 - 17:30</div><div class="span-8">Open Space round 2</div><div class="span-3 append-bottom last">Rafał Małanij</div>
	<div class="span-3">17:30 - 18:00</div><div class="span-8">Closing</div><div class="span-3 append-bottom last">Rafał Małanij</div>
</div>

<div class="span-15 append-bottom border">
	<div class="span-15 last">
		<h4>Open Space and Workshops Day 2</h4>
	</div>
	<hr/>
	<div class="span-2"><b>Time</b></div><div class="span-3"><b>Workshop Room A</b></div><div class="span-3"><b>Workshop Room B</b></div><div class="span-3"><b>Open Space Room A</b></div><div class="span-3 append-bottom last"><b>Open Space Room B and C</b></div>
	<div class="span-2">15:30 - 16:30</div><div class="span-3">&nbsp;</div><div class="span-3">Chef - Krzysztof Wilczyński, Mike Pavlenko, Michael Ducy</div><div class="span-3">To be added.</div><div class="span-3 append-bottom last">To be added.</div>
    <hr/>
	<div class="span-2">16:30 - 17:30</div><div class="span-3">&nbsp;</div><div class="span-3">Chef - Krzysztof Wilczyński, Mike Pavlenko, Michael Ducy</div><div class="span-3">To be added.</div><div class="span-3 append-bottom last">To be added.</div>
</div>
<hr/>
