---
extension: html
filter:
  - erb
  - markdown
title: Program
dirty: true
layout: event_warsaw
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<div class="span-16 last ">If you are new to the <em>Open Space</em> concept you may <a href="/pages/open-space-format">want to read some more details</a>.</div>
<br /><br />
Please see <strong><a href="http://lanyrd.com/2014/devopsdayswaw/">Lanyrd</a></strong> for the latest program updates!<br />
<hr/>
<center>
<strong><em>Note:</em></strong></br>
This programme is not yet set in stone and it might change.<br/>
We still encourage <em>everyone</em> to send a talk <a href='<%= File.join('/',@eventhome,'/propose') -%>'>proposal</a>.<br/><br/>
There is still time, so don't be shy and join the adventure with us, it's going to be fun!
</center>
<br/>
<hr/>

<div class="span-7 append-bottom border">
	<div class="span-7 last">
		<h4>Day 1 - Thursday 25th September</h4>
	</div>
	<div class="span-2">08:00 - 09:00</div><div class="span-4 append-bottom last">Registration and Partners Booths Open</div>
	<div class="span-2">09:00 - 09:30</div><div class="span-4 append-bottom last">Opening and organizational issues</div>
	<div class="span-2">09:30 - 10:00</div><div class="span-4 box last"><strong>Michael Ducy</strong><br /><a href="../proposals/MichaelDucy_ChangingTheBehaviorOfIT/">Changing the Behavior of IT</a></div>
	<div class="span-2">10:00 - 10:30</div><div class="span-4 box last"><strong>Joachim Bauernberge</strong><br /><a href="../proposals/JoachimBauernberger_DevOpsInTelecomsIsItPossible/">DevOps in Telecoms - is it possible?</a></div>
	<div class="span-2">10:30 - 11:00</div><div class="span-4 box last"><strong>Matt Harasymczuk</strong><br /><a href="../proposals/MattHarasymczuk_BranchManagementContinuousIntegrationAtAlmostNoCost/">Branch Management: Continuous Integration, Change and Release Management at No Cost</a></div>
	<div class="span-2">11:00 - 11:30</div><div class="span-4 append-bottom last">Break</div>
	<div class="span-2">11:30 - 12:00</div><div class="span-4 box last"><strong>Andrzej Grzesik</strong><br /><a href="../proposals/AndrzejGrzesik_CheffingADepartmentOneDevAtATime/">Cheffing a department, one Dev at a time</a></div>
	<div class="span-2">12:00 - 12:30</div><div class="span-4 box last"><strong>Pavel Stepanov</strong><br /><a href="../proposals/PavelStepanov_ImprovingDeveloperExperienceInInteractionWithCISystems/">Improving developers experience in interaction with CI systems</a></div>
	<div class="span-2">12:30 - 13:00</div><div class="span-4 box last"><strong>Bartosz Górczyński</strong><br /><a href="../proposals/BartoszGorczynski_ITSMInAgileTimes/">ITSM in Agile times</a></div>
	<div class="span-2">13:00 - 13:30</div><div class="span-4 box last"><strong>Grzegorz Nosek</strong><br /><a href="../proposals/GrzegorzNosek_DevOpsJFDI">DevOps: JFDI</a></div>
  <div class="span-2">13:30 - 14:30</div><div class="span-4 append-bottom last">Lunch</div>
	<div class="span-2">14:30 - 15:00</div><div class="span-4 box last"><strong>Open Spaces</strong><br />Opening (Day #1)</div>
	<div class="span-2">15:00 - 16:00</div><div class="span-4 box last"><strong>Open Spaces</strong><br />Open Space #1</div>
	<div class="span-2">16:00 - 17:00</div><div class="span-4 box last"><strong>Open Spaces</strong><br />Open Space #2</div>
	<div class="span-2">17:00 - 19:00</div><div class="span-4 append-bottom last">Burger Fest</div>
	<div class="span-2">19:00 - 24:00</div><div class="span-4 box last"><strong>Happy Hour</strong><br />Beer event with a Partner</div>
</div>

<div class="span-7 append-bottom border">
	<div class="span-7 last">
		<h4>Day 2 - Friday 26th September</h4>
	</div>
	<div class="span-2">08:00 - 09:00</div><div class="span-4 append-bottom last">Registration and coffee</div>
	<div class="span-2">09:00 - 09:30</div><div class="span-4 box last"><strong>Jan Svoboda</strong><br /><a href="../proposals/JanSvoboda_BuildingDeploymentAutomationPlatformsForContinuousDelivery/">Building Deployment Automation Platforms for Continuous Delivery</a></div>
	<div class="span-2">09:30 - 10:00</div><div class="span-4 box last"><strong>Rafał Kuć</strong><br /><a href="../proposals/RafalKuc_FromZeroToHeroWithLogstashAndElasticsearch/">From zero to hero - easy log centralization with Logstash and Elasticsearch</a></div>
	<div class="span-2">10:00 - 10:10</div><div class="span-4 box last"><strong>Grzegorz Nosek</strong><br /><a href="../proposals/GrzegorzNosek_SovietMilitaryHardwarePrimerForDevOps/">Soviet military hardware primer for devops</a></div>
	<div class="span-2">10:10 - 10:20</div><div class="span-4 box last"><strong>Piotr Szwed</strong><br /><a href="../proposals/PiotrSzwed_DevOpsKnowledgeBase/">DevOps Knowledge Base</a></div>
	<div class="span-2">10:20 - 10:30</div><div class="span-4 box last"><strong>Ignite 3</strong><br /></div>
	<div class="span-2">10:30 - 11:00</div><div class="span-4 append-bottom last">Break</div>
	<div class="span-2">11:00 - 11:30</div><div class="span-4 box last"><strong>Roman Pavlyuk</strong><br /><a href="../proposals//">DevOps at Home: making it working</a></div>
	<div class="span-2">11:30 - 12:00</div><div class="span-4 box last"><strong>Alex Lomau</strong><br /><a href="../proposals/AlexLomau_CloudFoundryHowItscooked/">Cloud Foundry: How it’s cooked</a></div>
	<div class="span-2">12:00 - 12:30</div><div class="span-4 box last"><strong>Zoltán Tóth</strong><br /><a href="../proposals/ZoltanToth_HowToBuildAPetabyteScaleDataInfrastructure/">How to build a petabyte-scale data infrastructure</a></div>
	<div class="span-2">12:30 - 13:00</div><div class="span-4 box last"><strong>Marcin Baryłka, Piotr Ćwiek</strong><br /></div><a href="../proposals/MarcinBarylkaPiotrCwiek_RemoteTaskManagementUsingSaltstack/"></a></div>
	<div class="span-2">13:00 - 14:00</div><div class="span-4 append-bottom last">Lunch</div>
	<div class="span-2">14:00 - 14:30</div><div class="span-4 box last"><strong>Gareth Workman</strong><br /><a href="../proposals/GarethWorkman_DevOpsInUKGovernment/">DevOps in UK Government</a></div>
	<div class="span-2">14:30 - 15:00</div><div class="span-4 box last"><strong>Joern Barthel</strong><br /><a href="../proposals/JoernBarthel_DockerOffshorePackagingApplicationsForHardToReachDatacenter/">Docker offshore - packaging applications for hard to reach datacenter</a></div>
	<div class="span-2">15:00 - 15:30</div><div class="span-4 box last"><strong>Open Spaces</strong><br />Opening (Day #2)</div>
	<div class="span-2">15:30 - 16:30</div><div class="span-4 box last"><strong>Open Spaces</strong><br />Open Space #1</div>
	<div class="span-2">16:30 - 17:30</div><div class="span-4 box last"><strong>Open Spaces</strong><br />Open Space #2</div>
	<div class="span-2">17:30 - 18:00</div><div class="span-4 append-bottom last">Closing</div>
</div>
