---
extension: html
filter:
- erb
- markdown
title: reactions
dirty: true
layout: event
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %> 
<% @eventid = File.basename(@page.directory) %>

Now that Devopsdays London is over, here is the list of reactions, speaker slides, and videos of the event.

<h2 id="video">Videos</h2>

<p>Day 1:</p>
<ul>
<li>Niek Bartholomeus: <a href="http://vimeo.com/album/2312414/video/62491557">DevOps For Dinosaurs</a></li>
<li>John Clapham / Paul Swartout: <a href="http://vimeo.com/album/2312414/video/62680746">Checking DevOps' vital signs</a></li>
<li>David Mytton: <a href="http://vimeo.com/album/2312414/video/62680747">StartOps: Growing an ops team from 1 founder</a></li>
<li>Deri Jones: <a href="http://vimeo.com/album/2312414/video/62689930">Adding Business Metrics</a></li>
</ul>

<p>Day 2:</p>
<ul>
<li>Thomas Falkenberg / Nils Probson: <a href="http://vimeo.com/album/2312414/video/62330884">DEVOPS and the traditional enterprise IT</a></li>
<li>Sam Eaton: <a href="http://vimeo.com/album/2312414/video/62330508">DevOps in the Hell of a Thousand Different Platforms</a></li>
<li>Gene Kim: <a href="http://vimeo.com/album/2312414/video/62491066">Maximising Flow</a></li>
</ul>

<h2 id="ignites">IGNITE Talks</h2>
<ul>
  <li><a href="http://vimeo.com/album/2312414/video/62689929">Patrick Debois</a></li>
<li><a href="http://vimeo.com/album/2312414/video/62689927">Simon VanColina</a></li>
<li><a href="http://vimeo.com/album/2312414/video/62689928">Muharem Hrnjadoiv</a></li>
<li><a href="http://vimeo.com/album/2312414/video/62491065">Sarah Haselbauer</a></li>
<li><a href="http://vimeo.com/album/2312414/video/62491067">Chris Adams</a></li>
<li><a href="http://vimeo.com/album/2312414/video/62491068">Daniel Pope</a></li>
<li><a href="http://vimeo.com/album/2312414/video/62491069">Simon McCartney</a></li>
</ul>


<h2 id="slides">Slides</h2>

Here are some of our speaker slides:

<ul>
<li><a href="https://speakerdeck.com/niekbartho/devops-for-dinosaurs">Niek Bartholomeus</a></li>
<li><a href="http://www.slideshare.net/realgenekim/how-can-we-better-sell-devops">Gene Kim</a></li>
<li><a href="https://speakerdeck.com/sameaton/devops-in-the-hell-of-a-thousand-different-platforms">Sam Eaton</a></li>
<li><a href="http://www.slideshare.net/serverdensity/dev-opsdays-london-2013">David Mytton</a></li>
<li><a href="http://www.slideshare.net/jedi4ever/what-ifconfigmgtwasdesignedbygamers">Patrick Debois [Ignite]</a></li>
</ul>

<h2 id="reactions">Reactions</h2>

Some attendees blog post about the event:

<ul>
<li><a href="http://scribes.tweetscriber.com/RealGeneKim/114">Gene Kim</a></li>
<li><a href="http://www.gep13.co.uk/blog/review-of-devopsdays-london-2013/">Gary Park</a></li>
<li><a href="https://gist.github.com/tomduckering/5185986">Tom Duckering</a></li>
<li><a href="http://matstace.me.uk/blog/2013/03/devopsdayslondonmarch2013/">Matt Stace</a></li>
<li><a href="http://technicaltally.wordpress.com/2013/03/18/devopsdays-london-2013/">Adam Huffman</a></li>
</ul>

If you have links to other content not listed, then [please let us know](mailto:organizers-london-2013@devopsdays.org?subject=missing site reactions content)
