---
title: Propose A Talk
layout: event_singapore
extension: html
filter:
- erb
- markdown
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

## Thank you for your interest in speaking!

We are open to all other proposals you send us - both technical and cultural.

### There are three types of sessions at DevOpsDays Singapore:
<ul>
  <li><strong><em>Proposal for a talk or panel: </em></strong>these talks are attended by the entire conference.</li>
  <li><strong><em>An Ignite talk: </em></strong> a 5 minute talk with 20 slides which auto-advance every 15 seconds. <a href="http://en.wikipedia.org/wiki/Ignite_(event)">The Ignite talks</a> will also be attended by the entire conference.</li>
  <li><strong><em>Open Space Sessions: </em></strong>Around half the time at DevOpsDays Singapore will be Open Space Format, so come prepared with ideas even if you don't submit a proposal!</li>
</ul>

### The most important things the committee will be considering are:

* _Original content_ content not yet presented at other conferences, or a new angle to an existing problem
* _New presenters:_ people who are new to the space and have insightful stuff to say; we want to hear everybody's voice
* _No vendor pitches:_ as much as we love vendors and sponsors, we just don't think this is the right forum.
* _Be specific:_ we aren't mind readers (a description of about 20 lines is about right)
* _Detail is good:_ but not as important as explaining why your proposal would be interesting
* _Nominations welcome:_ if you know someone who has content/experience relevant to the DevOps conversation, please point us in their direction!
* _Multiple proposals welcome:_ just follow the other rules

### Submit a Proposal!

Please use the following [form](https://docs.google.com/forms/d/1mo-65DPBpqRYZ1Y0Phm09W1rI5ArYLdtfKvTBacmsJo) to submit your proposal:

<iframe src="https://docs.google.com/forms/d/1mo-65DPBpqRYZ1Y0Phm09W1rI5ArYLdtfKvTBacmsJo/viewform?embedded=true" width="580" height="1500" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

### Need some inspiration?

__Do you have an answer to one of these questions?__

* DevOps movement has been around for a few years now: Did anyone find out if it really helped your organization? Are there numbers for this?
* Did the culture of DevOps spread to other parts of your company? If not, why?
* Is DevOps the magic silver bullet which solved all your problems? What are the problems it didn't solve (although you thought it would)?
* Were there unexpected problems during your cultural change into DevOps?
* Did the required skill-set of people change after starting to do things DevOps-Style?
* Did people leave because you "went DevOps"? Was this good or bad or both?
* Have there been technical changes after the culture in your team changed?
* Did the change affect the business/sales/marketing side?
* And of course: Has DevOps affected you personally? How do you feel about the change it brought to your work?

__Got new insights on the "classic" DevOps questions?__

* What is the role of QA/Tester in DevOps, how do we integrate QA in the continuous delivery process
* The impact DevOps has on traditional security/auditing/change control
* Building dashboards because #monitoringsucks
* The impact of DevOps on HR policies, and the hiring process
* Help prove that DevOps can scale beyond the 5-8 person web startups, we love traditional IT enterprise cases
* With all the automation, data is still a hard thing to handle, how does it affect DBA's, backup strategies, ...
