---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---

<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center><img border=0 src="logos/dod-tlv.png"></center></br>

Note that the planning of the **<%= render(:partial => "/#{@eventhome}/_title") %>** event is still in progress.

- Date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Location: [Google Campus TLV](http://www.campustelaviv.com)

### Registration is now open, register [here!](/events/2013-telaviv/registration/)</h3>

### [Call for papers](propose) us still open. You're welcome to [submit talks and ignite session](/events/2013-telaviv/propose/).

The CFP will close at August 1, 2013, and the final agenda will be finalized by August 15. So if you have something interesting to talk about now's your time to submit! Even if you don't propose, please consider [commenting on proposals submitted by others](../proposals/)
