---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---

<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center><img border=0 src="logos/dod-tlv.png"></center></br>

Note that the planning of the **<%= render(:partial => "/#{@eventhome}/_title") %>** event is still in progress.

- Target date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Target location: **<%= render(:partial => "/#{@eventhome}/_target_location") -%>**

Do you have know a nice location near the target location? Or is your company interested in hosting the event?  [Send an email to the organizers](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>).

[Call for papers](propose) is now open! You're welcome to submit talks and ignite session. Registration details will soon be posted, once we finalize the venue. 
If you want to be the first to know [subscribe to the devopsdays mailinglist](http://groups.google.com/group/devopsdays)
