---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
---

<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center><img border=0 src="logos/dod-tlv.png"></center></br>

Note that the planning of the **<%= render(:partial => "/#{@eventhome}/_title") %>** event is still in progress.

- Target date: **<%= render(:partial => "/#{@eventhome}/_target_date") -%>**
- Target location: **<%= render(:partial => "/#{@eventhome}/_target_location") -%>**

Do you have know a nice location near the target location? Or is your company interested in hosting the event?  [Send an email to the organizers](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>).

Once date and location have been decided we will open the [call for proposals](propose) and registration.
If you want to be the first to know [subscribe to the devopsdays mailinglist](http://groups.google.com/group/devopsdays)
