---
extension: html
filter:
- erb
- markdown
title: Welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
  <table>
    <tr>
      <td>
       <center>
         <img src="logos/dodd_logo_full-color-home-resized.png" alt="DevOpsDays Detroit"/><br><br>
         <h3>Wednesday, November 11th - Thursday, November 12th, 2015</h3>
         <!-- <center><h1><a href="./registration">Register Now!</a></h1> -->
       </center>
      </td>
    </tr>
    <tr>
      <td valign=top>
        <strong>Date:</strong> Wednesday, November 11th and Thursday, November 12th, 2015.
        <br><br>
        
        <strong>Location:</strong> Wayne State University's <a href="http://maps.wayne.edu/view/#mcgregor" target="_blank">McGregor Memorial Conference Center</a>, 495 Gilmour Mall, Detroit, MI 48202.
        <br><br>

        <strong>Registration:</strong> Registration is now <strong>closed</strong>. Please <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Waiting List">email us</a> to be placed on the waiting list.
	<br><br>

        We've planned for an awesome two days. Check out the <strong><a href="./program/">program</a></strong>.
        <br><br>

        <!-- <strong>Sponsorship:</strong> <a href="./sponsor">Sponsor</a> the inaugural DevOpsDays Detroit!
        <br><br> -->
        
        <strong>Contact:</strong> <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>.
        <br><br>
      </td>
    </tr>
  </table>
</center>
<hr>
