---
extension: html
filter:
- erb
- markdown
title: Welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
  <table>
    <tr>
      <td>
       <h2>DevOpsDays Detroit 2015</h2>
       <h3>Wednesday, November 11th and Thursday, November 12th, 2015</h3>
       <img src="grand_circus_map.png" alt="" width="565" height="408"/>
      </td>
    </tr>
    <tr>
      <td valign=top>
        <br>
        <strong>Date:</strong> Wednesday, November 11th and Thursday, November 12th, 2015.
        <br><br>
        
        <strong>Location:</strong> Wayne State University - McGregor Memorial Conference Center
        <br><br>

        <strong>Registration:</strong> Comming Soon
        <br><br>

        <strong>Speak at DevOpsDay Detroit:</strong> <a href="./propose">Call for Proposals</a> is now open!
        <br><br>

        <strong>Sponsorship:</strong> <a href="./sponsor">Sponsor</a> the inaugural DevOpsDays Detroit!
        <br><br>
        
        <strong>Contact:</strong> <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>.
        <br><br>
      </td>
    </tr>
  </table>
</center>
<hr>
