---
extension: html
filter:
  - erb
  - markdown
title: Location
dirty: true
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

### Conference Location

<b><a href="http://www.kalkscheune.de/" target="_blank">Kalkscheune</a></b><br>
Johannisstr. 2<br>
10117 Berlin<br>

<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2427.5008384277344!2d13.389651999999998!3d52.524372!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851e837c93643%3A0xd44c06c0d6ff5dda!2sKalkscheune!5e0!3m2!1sen!2s!4v1403120997071" width="600" height="450" frameborder="0" style="border:0" margin-bottom="10px"></iframe>

### Airport transfer, public transport

Public transport in Berlin is quiet good. Nearby stations are

*   S Oranienburger Str (S1, S2, S25)
*   U Oranienburger Tor (U6)
*   Tram Oranienburger Str (M1)

<a href="http://www.kalkscheune.de/sites/default/files/road_directions.pdf" target="_blank">Detailed informations</a> can be found at Kalkscheune's homepage (sorry, german only).<br>
<a href="http://fahrinfo-berlin.de/Fahrinfo/bin/query.bin/en?ld=0.1&" target="_blank">Berlin public transport planner</a>

### Nearby Hotels

There are couple of options to <a href="https://goo.gl/maps/XMHVn">choose from</a>.
