---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: proposals
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center><h3>Call for Proposals is open <%= render(:partial => "/#{@eventhome}/_cfp_date_start") -%> until <%= render(:partial => "/#{@eventhome}/_cfp_date_end") -%></h3></center>

<br>
Now that DevOps is an established culture in many companies, we wonder about a few things - and maybe your proposal can help us all to answer some of the questions we have. Of course we are open to all other proposals you send us - both technical and cultural. But we are curious about the parts most people might have forgotten to look at.
<br>
<strong>This is what we like to know. Do you have an answer?</strong>
<ul>
    <li>    DevOps movement has been around for a few years now: Did anyone find out if it really helped your organization? Are there numbers for this?</li>
    <li>    Did the culture of DevOps spread to other parts of your company? If not, why? </li>
    <li>    Is DevOps the magic silver bullet which solved all your problems? What are the problems it didn’t solve (although you thought it would)?</li>
    <li>    Were there unexpected problems during your cultural change into DevOps?</li>
    <li>    Did the required skillset of people change after starting to do things DevOps-Style?</li>
    <li>    Did people leave because you “went DevOps”? Was this good or bad or both?</li>
    <li>    Have there been technical changes after the culture in your team changed? </li>
    <li>    Did the change affect the business/sales/marketing side?</li>
    <li>    And of course: Has DevOps affected you personally? How do you feel about the change it brought to your work?</li>
</ul>
<br>
<strong>The "classic" DevOps questions are of course not fully answered, either …</strong>
<ul>
    <li>    What is the role of QA/Tester in devops, how do we integrate QA in the continuous delivery process</li>
    <li>    The impact devops has on traditional security/auditing/change control</li>
    <li>    Building dashboards because #monitoringsucks</li>
    <li>    The impact of devops on HR policies, and the hiring process</li>
    <li>    Help prove that devops can scale beyond the 5-8 person web startups, we love traditional IT enterprise cases</li>
    <li>    With all the automation, data is still a hard thing to handle, how does it affect DBA's, backup strategies, ...</li>
</ul>
<br>
<strong>There are three formats to propose for</strong>
<ol>
  <li><strong><em>A talk/panel</em></strong> during the conference part : these are 30 minutes slots that will have all people's full attention as everybody will be in that one room.</li>
  <li><strong><em>An Ignite talk</em></strong> that will be presented during the<a href="/pages/ignite-talks-format"> Ignite sessions</a>: these are 5 minutes slots with slides changing every 15 seconds (20 slides total) also presented to all attendees in one room</li>
  <li><strong><em>Openspace session</em></strong> : even without a prepared presentation we welcome the discussion and interaction by having people propose a session on the fly during the openspace opening. Check the <a href="/pages/open-space-format">openspace format</a> for more information
</ol>

<hr>
<table width='100%'>
  <tr>
    <td style="text-align: center">
      <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>?Proposal talk">Propose a talk/panel</a>
    </td>
    <td style="text-align: center">
      <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>?Proposal Ignite">Propose a Ignite talk</a>
    </td>
    <td style="text-align: center">
      <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_proposals") %>?Proposal - I think that ...">Let us know that you think</a>
    </td>
  </tr>
</table>

<hr>
<strong>Our main criteria to make it to the top selection are</strong>

- _original content_: content not yet presented at other conferences, or a new angle to an existing problem
- _new presenters_: people who are new to the space and have insightful stuff to tell, we want to hear everbody's voice
- _no vendor pitches_: as much as we value vendors and sponsors, we just don't think this is the right forum. There is a demo openspace slot where you have 5 minutes to show products.

<hr>
<div class="span-15 first last">
<%= render(:partial => '/disqus_comments') %>
</div>
