---
extension: html
filter:
- erb
- markdown
title: welcome
layout: event
dirty: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<center>
  <table><tr><td>
        <center>
        <img border=0 width="240" height="240" src="./sv_logo.png">
</td><td valign=top>
<strong>DevOpsDays is returning to <%= render(:partial => "/#{@eventhome}/_target_location") %>! </strong>
<br><br>
Dates: <%= render(:partial => "/#{@eventhome}/_event_date_start") %> - <%= render(:partial => "/#{@eventhome}/_event_date_end") %>
<br><br>
<a href="./location">Location</a>
<br><br>

<a href="./propose">Propose a talk</a>!
<br><br>

<a href="./sponsor">Sponsor the event</a>! It's a great way to promote your organization.
<br><br>

<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>">Email the organizers</a>
<br><br>
</td>
</tr>
</table>
</center>

<hr>
