---
extension: html
filter:
  - erb
  - markdown
title: Proposals
dirty: true
layout: event
platinum: true
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center>
  <img border="0" src="toronto-new.png" alt="DevOpsDays Toronto"><br><br>
  <b>We'll be rounding up all our talk proposals and allowing you to vote on the candidates</b>
  <b>Registered attendees will be prioritized so <a href="../registration">register to be heard!</a></b>
  <b>Stay tuned for more info</b>
</center>

