---
extension: html
filter:
- erb
- markdown
dirty: true
title: sponsor
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event.  If you are interested in sponsoring, please [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<hr>

DevOpsDays is a self-organizing conference for practitioners that depends on sponsorships. We do not have vendor booths, sell product presentations, or distribute attendee contact lists.
<br>
The best thing to do is send engineers to interact with the experts at DevOpsDays on their own terms.
<br>
<hr/>

<hr/>
<a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>">Send us an email if you are interested in sponsorship.</a>.
<br/>
<br/>
</div>
<hr/>

