---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: Program
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center><img border=0 src="../logos/dodbne2014.png" alt="DevOps Days Brisbane"></center>

<hr>

<hr>
<div class="span-16 last ">If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.</div>
</center>
<hr />

<div class="span-7 append-bottom border">
<div class="span-7 last">
<h4>Day 1 </h4>
</div>
<div class="span-2">08:00-09:00</div>
<div class="span-4 last">Registration</div>
<div class="span-2">9:00-9:15</div>
<div class="span-4 append-bottom last">Introduction</div>
<div class="span-2">9:15-10:15</div>
<div class="span-4 box last">
  <a href="../proposals/keynote">Keynote by Sidney Dekker</a>
</div>
<div class="span-2">10:15-10:45</div>
<div class="span-4 box last">
  <a href="../proposals/getting_devs_to_own_their_ops">Getting Devs to Own Their Ops by Karl Chu and Fabian Iannarella</a>
</div>
<div class="span-2">10:45-11:15</div>
<div class="span-4 append-bottom last">Break / Opening of Open Space</div>
<div class="span-2">11:15-11:45</div >
<div class="span-4 box last">
  <a href="../proposals/designing_and_developing_software_for_operations">Designing and Developing Software for Operations by Will Thames</a>
</div>
<div class="span-2">11:45-12:15</div>
<div class="span-4 append-bottom box last">
  <a href="../proposals/transforming_thoughtworks_internal_systems">Transforming ThoughtWorks' Internal Systems by Sam Newman
</div>
<div class="span-2">12:15-12:45</div>
<div class="span-4 append-bottom last">Ignite/Lightning Talks</div>
<div class="span-2">12:45-13:45</div>
<div class="span-4 append-bottom last">Lunch</div>
<div class="span-2">13:45-14:15</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot1</strong></div>
<div class="span-2">14:15-14:45</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot2</strong></div>
<div class="span-2">14:45-15:15</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 3</strong></div>
<div class="span-2">15:15-15:45</div>
<div class="span-4 append-bottom box last"><strong>Break</strong></div>
<div class="span-2">15:45-16:15</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 4</strong></div>
<div class="span-2">16:15-16:45</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 5</strong></div>
<div class="span-2">16:45-17:00</div>
<div class="span-4 append-bottom box last"><strong>Day 1 Close</strong></div>
<div class="span-2">17:30-...</div>
<div class="span-4 append-bottom box last"><strong>Evening event</a></strong></div>
</div>
<div class="span-7 append-bottom last">
<div class="span-7 last">
<h4>Day 2 </h4>
</div>
<div class="span-2">09:00-09:30</div>
<div class="span-4 last">Registration</div>
<div class="span-2">9:30-9:45</div>
<div class="span-4 append-bottom last">Day 2 - Kick off</div>
<div class="span-2">9:45-10:15</div>
<div class="span-4 box last">
  <a href="../proposals/why_youre_destroying_devops">Why You're Destorying DevOps by Michael Ducy</a>
</div>
<div class="span-2">10:15-10:45</div>
<div class="span-4 box last">
  <a href="../proposals/devops_at_wotif_making_easy_equals_right">DevOps @ Wotif: Making Easy = Right by Alexandra Spillane & Matt Callanan</a>
</div>
<div class="span-2">10:45-11:15</div>
<div class="span-4 append-bottom last">Break / Opening of Open Space</div>
<div class="span-2">11:15-11:45</div >
<div class="span-4 box last">
  <a href="../proposals/managing_security_updates_under_the_devops_model">Managing security updates under the DevOps model by David Jorm</a>
</div>
<div class="span-2">11:45-12:15</div>
<div class="span-4 append-bottom box last">
  <a href="../proposals/acquisition_ownership_and_migration_of_legacy_applications">Acquisition, ownership and migration of legacy applications by Mujtaba Hussain</a>
</div>
<div class="span-2">12:15-12:45</div>
<div class="span-4 append-bottom last">Ignite/Lightning Talks</div>
<div class="span-2">12:45-13:45</div>
<div class="span-4 append-bottom last">Lunch</div>
<div class="span-2">13:45-14:15</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 6</strong></div>
<div class="span-2">14:15-14:45</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot7</strong></div>
<div class="span-2">14:45-15:15</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 8</strong></div>
<div class="span-2">15:15-15:45</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 9</strong></div>
<div class="span-2">15:45-16:00</div>
<div class="span-4 append-bottom box last"><strong>Day 2 Close</strong></div>
</div>

