---
extension: html
filter:
- erb
- markdown
dirty: true
layout: event
title: Program
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

<center><img border=0 src="../logos/dodbne2014.png" alt="DevOps Days Brisbane"></center>

<hr>

<div class="span-16 last ">If you are new to the Open Space concept you may <a href="/pages/open-space-format">want to read some more details</a>.</div>
</center>
<hr />

<div class="span-7 append-bottom border">
<div class="span-7 last">
<h4>Day 1 </h4>
</div>
<div class="span-2">08:00</div>
<div class="span-4 last">Registration</div>
<div class="span-2">09:00</div>
<div class="span-4 append-bottom last">Introduction</div>
<div class="span-2">09:15</div>
<div class="span-4 box last">
  <a href="../proposals/keynote"><b>System Failure, Human Error: Who's to Blame?</b> - Keynote by Sidney Dekker</a>
</div>
<div class="span-2">10:15</div>
<div class="span-4 box last">
  <a href="../proposals/getting_devs_to_own_their_ops"><b>Getting Devs to Own Their Ops</b> by Karl Chu and Fabian Iannarella</a>
</div>
<div class="span-2">10:45</div>
<div class="span-4 append-bottom last">Break</div>
<div class="span-2">11:15</div >
<div class="span-4 box last">
  <a href="../proposals/designing_and_developing_software_for_operations"><b>Designing and Developing Software for Operations</b> by Will Thames</a>
</div>
<div class="span-2">11:45</div>
<div class="span-4 append-bottom box last">
  <a href="../proposals/transforming_thoughtworks_internal_systems"><b>Transforming ThoughtWorks' Internal Systems</b> by Sam Newman</a>
</div>
<div class="span-2">12:15</div>
<div class="span-4 append-bottom box last">Ignite/Lightning Talks</div>
<div class="span-2">12:45</div>
<div class="span-4 append-bottom last">Open Space topic generation</div>
<div class="span-2">13:00</div>
<div class="span-4 append-bottom last">Lunch</div>
<div class="span-2">14:00</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot1</strong></div>
<div class="span-2">14:30</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot2</strong></div>
<div class="span-2">15:00</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 3</strong></div>
<div class="span-2">15:30</div>
<div class="span-4 append-bottom last"><strong>Break</strong></div>
<div class="span-2">16:00</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 4</strong></div>
<div class="span-2">16:30</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 5</strong></div>
<div class="span-2">17:00</div>
<div class="span-4 append-bottom last"><strong>Wrap-Up</strong></div>
<div class="span-2">17:30-...</div>
<div class="span-4 append-bottom box last"><strong>Evening Reception</a></strong></div>
</div>
<div class="span-7 append-bottom last">
<div class="span-7 last">
<h4>Day 2 </h4>
</div>
<div class="span-2">09:00</div>
<div class="span-4 last">Registration</div>
<div class="span-2">09:30</div>
<div class="span-4 append-bottom last">Day 2 - Kick off</div>
<div class="span-2">09:45</div>
<div class="span-4 box last">
  <b>Day 2 Keynote</b> by John Willis
</div>
<div class="span-2">10:15</div>
<div class="span-4 box last">
  <a href="../proposals/why_youre_destroying_devops"><b>Why You're Destroying DevOps</b> by Michael Ducy</a>
</div>
<div class="span-2">10:45</div>
<div class="span-4 append-bottom last">Break</div>
<div class="span-2">11:15</div>
<div class="span-4 box last">
  <a href="../proposals/devops_at_wotif_making_easy_equals_right"><b>DevOps @ Wotif: Making Easy = Right</b> by Alexandra Spillane & Matt Callanan</a>
</div>
<div class="span-2">11:45</div >
<div class="span-4 box last">
  <a href="../proposals/managing_security_updates_under_the_devops_model"><b>Managing security updates under the DevOps model</b> by David Jorm</a>
</div>
<div class="span-2">12:15</div>
<div class="span-4 append-bottom box last">
  <a href="../proposals/acquisition_ownership_and_migration_of_legacy_applications"><b>Acquisition, ownership and migration of legacy applications</b> by Mujtaba Hussain</a>
</div>
<div class="span-2">12:45</div>
<div class="span-4 append-bottom last">Open Space topic generation</div>
<div class="span-2">13:00</div>
<div class="span-4 append-bottom last">Lunch</div>
<div class="span-2">14:00</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 6</strong></div>
<div class="span-2">14:30</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot7</strong></div>
<div class="span-2">15:00</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 8</strong></div>
<div class="span-2">15:30</div>
<div class="span-4 append-bottom box last"><strong>Open Space Slot 9</strong></div>
<div class="span-2">16:00</div>
<div class="span-4 append-bottom last"><strong>Closing</strong></div>
</div>
