---
extension: html
filter:
- erb
- markdown
dirty: true
title: sponsor
layout: event
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>
<% @eventid = File.basename(@eventhome) %>

We greatly value sponsors for this open event.  If you are interested in sponsoring, please [drop us an email](mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>).

<hr>
DevopsDays is a self-organizing conference for practitioners. It brings together leaders in Software Development and IT Operations to collaborate and learn.
</hr>

<h2>Why sponsor DevopsDays?</h2>
Sponsoring DevopsDays will give you the opportunity to network and build relationships with developers, IT executives, Ops, DevOps, and managers within the burgeoning Scandinavian DevOps community.

Our sponsorship package are constructed to offer our sponsors lead generation, networking, branding, and talent recruitment. 

<h2>Practical Information</h2>
<ul>
<li>Date: 5th & 6th September</li>
<li>Location: <a href="http://www.gamlemuseet.no/english/">Gamle Museet</a></li>
<li>Expected attendee count: 350</li>
</ul>

<h3>Gold sponsor pack</h3>
DevopsDays is gathering IT practitioners, managers, developers, and influencers from all over Scandinavia and as a Gold Sponsor you will have an opportunity to be right there with them. Gold Sponsorships include opportunities to connect with each one of these attendees as we strategically drive traffic to your sponsor booth. Gold sponsors enjoy pre-event promotion through our social media as well as our website. 

<ul>
<li>Logo on event website</li>
<li>Logo on shared slide, displayed during breaks</li>
<li>Logo on email marketing</li>
<li>4 Included Tickets</li>
<li>Booth space in the main hall</li>
<li>1 minute pitch to the audience</li>
<li>Recognition on the website and social media before, during and after the event</li>
</ul>


<!--

<div style="width:590px">
<table border=1 cellspacing=1>
  <tr>
    <th><i>packages</i></th>
    <th><center><b><u>Bronze<br />1000 usd</u></center></b></th>
    <th><center><b><u>Silver<br />3000 usd</u></center></b></th>
    <th><center><b><u>Gold<br />5000 usd</u></center></b></th>
    <th></th>
  </tr>
<tr><td>2 included tickets</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on event website</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on shared slide, rotating during breaks</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on all email communication</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>logo on its own slide, rotating during breaks</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>1 minute pitch to full audience (including streaming audience)</td><td>&nbsp;</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr></tr>
<tr><td>2 additional tickets (4 in total)</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>4 additional tickets (6 in total)</td><td>&nbsp;</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
<tr><td>shared table for swag</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td><td>&nbsp;</td></tr>
<tr><td>booth/table space</td><td>&nbsp;</td><td>&nbsp;</td><td bgcolor="gold">&nbsp;</td></tr>
</table>
-->
<hr/>
There are also opportunities for exclusive special sponsorships. We'll have sponsors for various events with special privileges for the sponsors of these events. If you are interested in special sponsorships or have a creative idea about how you can support the event, <a href="mailto:<%= render(:partial => "/#{@eventhome}/_email_organizers") %>?subject=Sponsor devopsdays <%= @eventid %>">send us an email</a>.
<br/>
<br/>
</div>
<hr/>

