---
extension: html
layout: event
filter:
- erb
- markdown
title: welcome
dirty: true
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

![Austin](/<%= @eventhome -%>/keepdevopsweird.png)

##<%= render(:partial => "/#{@eventhome}/_target_date") -%>

Registration and CFP coming soon.

<br>

<div>
  Location: <a href="location">Darrel K. Royal Texas Memorial Stadium</a>
  <br/><br/>

  <% if false %>
  <br><br>
  <br><br>
Please review our <a href="conduct/">code of conduct</a> before you arrive.
  <% end %>
</div>
<hr>

If you want to be the first to know [subscribe to the devopsdays mailinglist](http://groups.google.com/group/devopsdays)
