---
extension: html
layout: event_html5
filter:
- erb
- markdown
title: 'Welcome!'
dirty: true
platinum: false
---
<% @eventhome = @page.directory.split(File::SEPARATOR)[0..1].join(File::SEPARATOR) %>

<!-- ## Tuesday, October 7th and Wednesday, October 8th -->
## CFPs Extended! Now open till Friday, August 22nd!

<div style="text-align:center;">
  <img alt="DevOpsDays Chicago 2014" src="./logo.png"/>
</div>

<table>
  <tr>
    <td><b>Date</b></td>
    <td><%= render(:partial => "/#{@eventhome}/_target_date") -%></td>
  </tr>
  <tr>
    <td><b>Location</b></td>
    <td><a href="/<%= @eventhome %>/location/">Willis Tower</a></td>
  </tr>
  <tr>
    <td><b>Participants</b></td>
    <td><b><a href="/<%= @eventhome %>/registration/">Register now!</a></b></td>
  </tr>
  <tr>
    <td><b>Speakers</b></td>
    <td>Call for <a href="/<%= @eventhome %>/propose/">proposals</a> is open until August 22nd!</td>
  </tr>
  <!--
  <tr>
    <td><b>Program</b></td>
    <td>Check out current <a href="/<%= @eventhome %>/program/">program</a>, it's ready! But, we are still accepting more talk <a href="proposals/">proposals</a>.</td>
  </tr>
  -->
  <tr>
    <td><b>Sponsors</b></td>
    <td><a href="/<%= @eventhome %>/sponsor/">Sponsorship opportunities</a> are still available. Help us make this event an outstanding one!</td>
  </tr>
  <tr>
    <td><b>Contact</b></td>
    <td><a href="/<%= @eventhome %>/contact/">Get in touch with the Organizers</a>.</td>
  </tr>
  <tr>
    <td></td>
    <td><a href="https://twitter.com/devopsdaysChi" class="twitter-follow-button" data-show-count="false">Follow @devopsdaysChi</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </td>
  </tr>
</table>

We hope to see you in Chicago in October!
